// =============================================================================
// POSITION (Tools)
// =============================================================================
// 1. Pins to all corners by default. But when a width and/or height are
//    provided, the element will be centered in its nearest
//    relatively-positioned ancestor.
//
// 2. Make sure fixed elements are promoted into a new layer, for
//    performance reasons.
// -----------------------------------------------------------------------------

@mixin position($variant, $important: null) {

    @if $variant == "absoluteCenter" { // 1
        bottom: 0 $important;
        left: 0 $important;
        margin: auto $important;
        position: absolute $important;
        right: 0 $important;
        top: 0 $important;

    }
    @else if $variant == "fixed" {
        backface-visibility: hidden $important; // 2
        position: fixed $important;
    }
}
