// =============================================================================
// CONSTANTS
// =============================================================================
// 'Constant' design tokens from your design system / UI.
//
// Contents:
// - Global vars
// - Colours
// - Layers
// - Motion
// - Shadows
// - Typography
//
// Linting rule exceptions:
// stylelint-disable unit-blacklist
// -----------------------------------------------------------------------------

// Global variables
// -----------------------------------------------------------------------------
// Define your document base font size in pixels. It's used for all rem unit
// calculations throughout your code.
// -----------------------------------------------------------------------------

$global__fontSize: 16px;

// Global constants
// -----------------------------------------------------------------------------
// Global custom properties.
// Although defined as variables they're not to be altered within your app.
// -----------------------------------------------------------------------------

:root {
  // Colours (p = primary, n = neutral, t = text)

  --color__p5: #111;
  --color__p4: #222;
  --color__p3: #333;
  --color__p2: #444;
  --color__p1: #555;

  --color__n9: #000;
  --color__n8: #111;
  --color__n7: #333;
  --color__n6: #555;
  --color__n5: #777;
  --color__n4: #999;
  --color__n3: #bbb;
  --color__n2: #ddd;
  --color__n1: #fff;

  --color__t5: #000;
  --color__t4: #888;
  --color__t3: #ccc;
  --color__t2: #eee;
  --color__t1: #fff;

  // Layers (z-index layers)

  --layer__negative: -1;
  --layer__flat: 0;
  --layer__raised: 1;
  --layer__menu: 2;
  --layer__sticky: 3;
  --layer__drawer: 4;
  --layer__overlay: 5;
  --layer__tooltip: 6;

  // Motion (animations and transitions)

  --motion__fastest: 0.15s;
  --motion__fast: 0.25s;
  --motion__slow: 0.5s;
  --motion__slowest: 0.75s;

  --motion__ease: cubic-bezier(0.5; 0; 0.1; 1);
  --motion__easeIn: cubic-bezier(0.25; 0; 1; 1);
  --motion__easeOut: cubic-bezier(0; 0; 0.25; 1);

  // Shadows

  --shadow__1: (0 1px 2px rgba(#000; 0.1));
  --shadow__2: (0 2px 4px rgba(#000; 0.1));
  --shadow__3: (0 2px 8px rgba(#000; 0.1));
  --shadow__4: (0 4px 12px rgba(#000; 0.1));
  --shadow__5: (0 4px 16px rgba(#000; 0.1));
  --shadow__6: (0 8px 20px rgba(#000; 0.1));

  // Typography

  --fontFamily__display: (-apple-system; roboto; 'Segoe UI'; sans-serif);
  --fontFamily__heading: (-apple-system; roboto; 'Segoe UI'; sans-serif);
  --fontFamily__body: ('Noto Sans'; -apple-system; roboto; 'Segoe UI'; sans-serif); // stylelint-disable max-line-length

  --fontWeight__thin: 300;
  --fontWeight__normal: 400;
  --fontWeight__bold: 700;

  --fontD1__height: 3.25rem;
  --fontD1__size: 2.5625rem;
  --fontD1__weight: 300;

  --fontD2__height: 3rem;
  --fontD2__size: 2.25rem;
  --fontD2__weight: 300;

  --fontD3__height: 2.75rem;
  --fontD3__size: 2rem;
  --fontD3__weight: 300;

  --fontH1__height: 2.25rem;
  --fontH1__size: 1.625rem;
  --fontH1__weight: 700;

  --fontH2__height: 2rem;
  --fontH2__size: 1.4375rem;
  --fontH2__weight: 700;

  --fontH3__height: 1.875rem;
  --fontH3__size: 1.25rem;
  --fontH3__weight: 700;

  --fontB1__height: 1.5rem;
  --fontB1__size: 1rem;
  --fontB1__weight: 400;

  --fontB2__height: 1.375rem;
  --fontB2__size: 0.875rem;
  --fontB2__weight: 400;

  --fontB3__height: 1.25rem;
  --fontB3__size: 0.75rem;
  --fontB3__weight: 400;
}
