// =============================================================================
// ANIMATION UTILITIES (Output)
// =============================================================================


.u-animate {
    animation-duration: duration("fast");
    animation-fill-mode: both;
}

.u-animateInfinitely {
    animation-iteration-count: infinite;
}
