// =============================================================================
// CONTAINER (Utilities)
// =============================================================================
// Set the width of your page layouts.
//
// Linting rule exceptions:
// stylelint-disable declaration-no-important
// -----------------------------------------------------------------------------

.u-container {
  --width: #{layout('container', 'large')};
  margin: auto !important;
  max-width: var(--width) !important;
}

// Width modifiers
// -----------------------------------------------------------------------------

.u-container--small {
  --width: #{layout('container', 'small')};
}
