// =============================================================================
// GRID (Utility)
// =============================================================================

.u-grid {
  display: grid;
  grid-gap: grid('gutter', 'large');
  grid-template-columns: repeat(12, minmax(0, 1fr));

  &:not(:first-child) {
    margin-top: space(1.5);
  }
}

// Grid column presets
// -----------------------------------------------------------------------------
// Use these classes when you want to create a repeated number of items that are
// equal in size. For example, a grid of cards or tiles.
//
// 1. The mixin creates the responsive classes for each column set.
// -----------------------------------------------------------------------------

@mixin columnResponsiveClasses($columnNumber) { // 1
  grid-template-columns: repeat($columnNumber, 1fr);

  @include viewport('small') {
    &\@s {
      grid-template-columns: repeat($columnNumber, 1fr);
    }
  }

  @include viewport('medium') {
    &\@m {
      grid-template-columns: repeat($columnNumber, 1fr);
    }
  }

  @include viewport('large') {
    &\@l {
      grid-template-columns: repeat($columnNumber, 1fr);
    }
  }
}

.u-grid--2col {
  @include columnResponsiveClasses(2);
}

.u-grid--3col {
  @include columnResponsiveClasses(3);
}

.u-grid--4col {
  @include columnResponsiveClasses(4);
}

.u-grid--6col {
  @include columnResponsiveClasses(6);
}

// Grid column spans
// -----------------------------------------------------------------------------

@mixin columnSpanResponsiveClasses($columns) {
  grid-column: span $columns;

  @include viewport('small') {
    &\@s {
      grid-column: span $columns;
    }
  }

  @include viewport('medium') {
    &\@m {
      grid-column: span $columns;
    }
  }

  @include viewport('large') {
    &\@l {
      grid-column: span $columns;
    }
  }
}

.u-2\/12 {
  @include columnSpanResponsiveClasses(2);
}

.u-3\/12 {
  @include columnSpanResponsiveClasses(3);
}

.u-4\/12 {
  @include columnSpanResponsiveClasses(4);
}

.u-6\/12 {
  @include columnSpanResponsiveClasses(6);
}

.u-8\/12 {
  @include columnSpanResponsiveClasses(8);
}

.u-9\/12 {
  @include columnSpanResponsiveClasses(9);
}

.u-10\/12 {
  @include columnSpanResponsiveClasses(10);
}
