// =============================================================================
// GRID (Utility)
// =============================================================================
// Grid utility classes should be used for creating responsive page layouts by
// wrapping components. Components must never have grid classes used within them
// to create internal component layouts.
// -----------------------------------------------------------------------------

.u-grid {
  display: grid !important;
  grid-gap: layout('gutter', 'large') !important;
  grid-template-columns: repeat(12, 1fr) !important;

  &:not(:first-child) {
    margin-top: space(1.5) !important;
  }
}

// Grid gutters
// -----------------------------------------------------------------------------
// Define the grid gap/gutters in your layout. The default is set to large.
// Responsive classes are available so you can adjust gutter widths based on
// viewports.
// -----------------------------------------------------------------------------

@mixin gutterResponsiveClasses($size) {
  grid-gap: $size !important;

  &\@s {
    @include viewport('small') {
      grid-gap: $size !important;
    }
  }

  &\@m {
    @include viewport('medium') {
      grid-gap: $size !important;
    }
  }

  &\@l {
    @include viewport('large') {
      grid-gap: $size !important;
    }
  }
}

.u-grid--gutterCollapse {
  @include gutterResponsiveClasses(0);
}

.u-grid--gutterSmall {
  @include gutterResponsiveClasses(#{layout('gutter', 'small')});
}

.u-grid--gutterMedium {
  @include gutterResponsiveClasses(#{layout('gutter', 'medium')});
}

.u-grid--gutterLarge {
  @include gutterResponsiveClasses(#{layout('gutter', 'large')});
}

.u-grid--gutterXlarge {
  @include gutterResponsiveClasses(#{layout('gutter', 'xlarge')});
}

// Grid column presets
// -----------------------------------------------------------------------------
// Use these classes when you want to create a repeated number of items that are
// equal in size. For example, a grid of cards or tiles.
//
// The mixin creates the responsive classes for each column set.
// -----------------------------------------------------------------------------

@mixin columnResponsiveClasses($columnNumber) {
  grid-template-columns: repeat($columnNumber, 1fr) !important;

  &\@s {
    @include viewport('small') {
      grid-template-columns: repeat($columnNumber, 1fr) !important;
    }
  }

  &\@m {
    @include viewport('medium') {
      grid-template-columns: repeat($columnNumber, 1fr) !important;
    }
  }

  &\@l {
    @include viewport('large') {
      grid-template-columns: repeat($columnNumber, 1fr) !important;
    }
  }
}

.u-grid--2col {
  @include columnResponsiveClasses(2);
}

.u-grid--3col {
  @include columnResponsiveClasses(3);
}

.u-grid--4col {
  @include columnResponsiveClasses(4);
}

.u-grid--6col {
  @include columnResponsiveClasses(6);
}

// Grid column spans
// -----------------------------------------------------------------------------

@mixin columnSpanResponsiveClasses($columns) {
  grid-column: span $columns !important;

  &\@s {
    @include viewport('small') {
      grid-column: span $columns !important;
    }
  }

  &\@m {
    @include viewport('medium') {
      grid-column: span $columns !important;
    }
  }

  &\@l {
    @include viewport('large') {
      grid-column: span $columns !important;
    }
  }
}

.u-grid__1\/12 {
  @include columnSpanResponsiveClasses(1);
}

.u-grid__2\/12 {
  @include columnSpanResponsiveClasses(2);
}

.u-grid__3\/12 {
  @include columnSpanResponsiveClasses(3);
}

.u-grid__4\/12 {
  @include columnSpanResponsiveClasses(4);
}

.u-grid__5\/12 {
  @include columnSpanResponsiveClasses(5);
}

.u-grid__6\/12 {
  @include columnSpanResponsiveClasses(6);
}

.u-grid__7\/12 {
  @include columnSpanResponsiveClasses(7);
}

.u-grid__8\/12 {
  @include columnSpanResponsiveClasses(8);
}

.u-grid__9\/12 {
  @include columnSpanResponsiveClasses(9);
}

.u-grid__10\/12 {
  @include columnSpanResponsiveClasses(10);
}

.u-grid__11\/12 {
  @include columnSpanResponsiveClasses(11);
}

.u-grid__12\/12 {
  @include columnSpanResponsiveClasses(12);
}
