// =============================================================================
// TEXT (Utility)
// =============================================================================

.u-textD1 {
  font-size: font('d1', 'size');
  font-weight: font('d1', 'weight');
  line-height: font('d1', 'lineHeight');
}

.u-textD2 {
  font-size: font('d2', 'size');
  font-weight: font('d2', 'weight');
  line-height: font('d2', 'lineHeight');
}

.u-textD3 {
  font-size: font('d3', 'size');
  font-weight: font('d3', 'weight');
  line-height: font('d3', 'lineHeight');
}

.u-textH1 {
  font-size: font('h1', 'size');
  font-weight: font('h1', 'weight');
  line-height: font('h1', 'lineHeight');
}

.u-textH2 {
  font-size: font('h2', 'size');
  font-weight: font('h2', 'weight');
  line-height: font('h2', 'lineHeight');
}

.u-textH3 {
  font-size: font('h3', 'size');
  font-weight: font('h3', 'weight');
  line-height: font('h3', 'lineHeight');
}

.u-textB1 {
  font-size: font('b1', 'size');
  font-weight: font('b1', 'weight');
  line-height: font('b1', 'lineHeight');
}

.u-textB2 {
  font-size: font('b2', 'size');
  font-weight: font('b2', 'weight');
  line-height: font('b2', 'lineHeight');
}

.u-textB3 {
  font-size: font('b3', 'size');
  font-weight: font('b3', 'weight');
  line-height: font('b3', 'lineHeight');
}
