// =============================================================================
// TEXT (Utilities)
// =============================================================================
// Apply a specific style to text from the design system.
//
// Linting rule exceptions:
// stylelint-disable declaration-no-important
// -----------------------------------------------------------------------------

@mixin text($value) {
  font-size: var(--FONT_SIZE__#{$value}) !important;
  font-weight: var(--FONT_WEIGHT__#{$value}) !important;
  line-height: var(--FONT_HEIGHT__#{$value}) !important;
}

.u-textD1 {
  @include responsive() {
    @include text('D1');
  }
}

.u-textD2 {
  @include responsive() {
    @include text('D2');
  }
}

.u-textD3 {
  @include responsive() {
    @include text('D3');
  }
}

.u-textH1 {
  @include responsive() {
    @include text('H1');
  }
}

.u-textH2 {
  @include responsive() {
    @include text('H2');
  }
}

.u-textH3 {
  @include responsive() {
    @include text('H3');
  }
}

.u-textB1 {
  @include responsive() {
    @include text('B1');
  }
}

.u-textB2 {
  @include responsive() {
    @include text('B2');
  }
}

.u-textB3 {
  @include responsive() {
    @include text('B3');
  }
}
