// =============================================================================
// VISIBILITY (Utility)
// =============================================================================

.u-hidden {
  display: none !important;
}

.u-hidden\@s {
  @include viewport('small') {
    display: none !important;
  }
}

.u-visible\@s {
  @include viewport('small') {
    display: block !important;
  }
}

.u-hidden\@m {
  @include viewport('medium') {
    display: none !important;
  }
}

.u-visible\@m {
  @include viewport('medium') {
    display: block !important;
  }
}

.u-hidden\@l {
  @include viewport('large') {
    display: none !important;
  }
}

.u-visible\@l {
  @include viewport('large') {
    display: block !important;
  }
}

.u-hidden\@xl {
  @include viewport('xlarge') {
    display: none !important;
  }
}

.u-visible\@xl {
  @include viewport('xlarge') {
    display: block !important;
  }
}

// Screen reader text
// -----------------------------------------------------------------------------
// Hide pieces of UI that appear in the DOM. If an element appears in the DOM
// but you wish to hide it from view, add this class. Remove the class when you
// want to make it visible.
// -----------------------------------------------------------------------------

.u-screenReader {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
