// =============================================================================
// VISIBILITY (Utility)
// =============================================================================

// Semantic hiding
// -----------------------------------------------------------------------------
// If you're toggling between a hidden and visible state simply, you can rely
// on the HTML attributes below. Ensure you use the correct attribute.
// -----------------------------------------------------------------------------

[hidden],
[aria-hidden='true'] {
  display: none !important;
}

// Visual hiding
// -----------------------------------------------------------------------------
// When you want to hide something visually, but remain accessible to screen
// readers, then use the assistive text class.
// -----------------------------------------------------------------------------

.u-assistiveText {
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  word-wrap: normal !important;
}

// Responsive visibility classes
// -----------------------------------------------------------------------------
// For times where you need to hide/show HTML at different viewports, use the
// below classes to change the display property value.
// -----------------------------------------------------------------------------

.u-hidden {
  display: none !important;
}

.u-hidden\@s {
  @include viewport('small') {
    display: none !important;
  }
}

.u-visible\@s {
  @include viewport('small') {
    display: block !important;
  }
}

.u-hidden\@m {
  @include viewport('medium') {
    display: none !important;
  }
}

.u-visible\@m {
  @include viewport('medium') {
    display: block !important;
  }
}

.u-hidden\@l {
  @include viewport('large') {
    display: none !important;
  }
}

.u-visible\@l {
  @include viewport('large') {
    display: block !important;
  }
}

.u-hidden\@xl {
  @include viewport('xlarge') {
    display: none !important;
  }
}

.u-visible\@xl {
  @include viewport('xlarge') {
    display: block !important;
  }
}
