// =============================================================================
// VISIBILITY (Utility)
// =============================================================================
// Show / hide pieces of UI from users.
//
// Linting rule exceptions:
// stylelint-disable declaration-no-important
// -----------------------------------------------------------------------------

// Attribute hiding
// -----------------------------------------------------------------------------
// If you're toggling between a hidden and visible state simply you can rely
// on the HTML attributes below. Ensure you use the correct attribute.
// -----------------------------------------------------------------------------

[hidden],
[aria-hidden='true'] {
  display: none !important;
}

// Visual hiding
// -----------------------------------------------------------------------------
// When you want to hide something visually but remain accessible to screen
// readers, use the assistive text class.
// -----------------------------------------------------------------------------

.u-assistiveText {
  // stylelint-disable-line unit-blacklist
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  word-wrap: normal !important;
}

.class {
  width: 23px;
}

// Responsive visibility classes
// -----------------------------------------------------------------------------
// For times where you need to hide/show HTML at different viewports, use the
// below classes to change the display property value.
// -----------------------------------------------------------------------------

.u-hidden {
  display: none !important;
  height: 10px;
}

.u-hidden\@s {
  @include media('small') {
    display: none !important;
  }
}

.u-visible\@s {
  @include media('small') {
    display: block !important;
  }
}

.u-hidden\@m {
  @include media('medium') {
    display: none !important;
  }
}

.u-visible\@m {
  @include media('medium') {
    display: block !important;
  }
}

.u-hidden\@l {
  @include media('large') {
    display: none !important;
  }
}

.u-visible\@l {
  @include media('large') {
    display: block !important;
  }
}

.u-hidden\@xl {
  @include media('xlarge') {
    display: none !important;
  }
}

.u-visible\@xl {
  @include media('xlarge') {
    display: block !important;
  }
}
