// =============================================================================
// WIDTH (Utility)
// =============================================================================

// Container widths
// -----------------------------------------------------------------------------

.u-container {
  margin: auto;
}

.u-container--small {
  max-width: layout('container', 'small');
}

.u-container--medium {
  max-width: layout('container', 'medium');
}

.u-container--large {
  max-width: layout('container', 'large');
}

// Percentage widths
// -----------------------------------------------------------------------------
// Width utility classes should be used with a component class or element to set
// a specific width. Width classes should not be used to create responsive page
// layouts.
// -----------------------------------------------------------------------------

@mixin widthResponsiveClasses($width) {
  width: layout('width', $width) !important;

  &\@s {
    @include viewport('small') {
      width: layout('width', $width) !important;
    }
  }

  &\@m {
    @include viewport('medium') {
      width: layout('width', $width) !important;
    }
  }

  &\@l {
    @include viewport('large') {
      width: layout('width', $width) !important;
    }
  }

  &\@xl {
    @include viewport('xlarge') {
      width: layout('width', $width) !important;
    }
  }
}

.u-width100 {
  @include widthResponsiveClasses(100%);
}

.u-width80 {
  @include widthResponsiveClasses(80%);
}

.u-width75 {
  @include widthResponsiveClasses(75%);
}

.u-width66 {
  @include widthResponsiveClasses(66%);
}

.u-width60 {
  @include widthResponsiveClasses(60%);
}

.u-width50 {
  @include widthResponsiveClasses(50%);
}

.u-width40 {
  @include widthResponsiveClasses(40%);
}

.u-width33 {
  @include widthResponsiveClasses(33%);
}

.u-width25 {
  @include widthResponsiveClasses(25%);
}

.u-width20 {
  @include widthResponsiveClasses(20%);
}
