// =============================================================================
// WIDTH (Utilities)
// =============================================================================
// Width utility classes should be used in combination with a component class
// or element. They should not be used to create page layouts.
//
// Linting rule exceptions:
// stylelint-disable declaration-no-important
// -----------------------------------------------------------------------------

.u-width100 {
  @include responsive() {
    width: layout('width', 100%) !important;
  }
}

.u-width80 {
  @include responsive() {
    width: layout('width', 80%) !important;
  }
}

.u-width75 {
  @include responsive() {
    width: layout('width', 75%) !important;
  }
}

.u-width66 {
  @include responsive() {
    width: layout('width', 66%) !important;
  }
}

.u-width60 {
  @include responsive() {
    width: layout('width', 60%) !important;
  }
}

.u-width50 {
  @include responsive() {
    width: layout('width', 50%) !important;
  }
}

.u-width40 {
  @include responsive() {
    width: layout('width', 40%) !important;
  }
}

.u-width33 {
  @include responsive() {
    width: layout('width', 33%) !important;
  }
}

.u-width25 {
  @include responsive() {
    width: layout('width', 25%) !important;
  }
}

.u-width20 {
  @include responsive() {
    width: layout('width', 20%) !important;
  }
}
