// =============================================================================
// IMAGES (Structure)
// =============================================================================


// Images <img>
// -----------------------------------------------------------------------------
// 1. Remove border when inside `a` element in IE 8/9/10.
// 2. Images will respond to their container's size by default.
// -----------------------------------------------------------------------------

img {
  border: 0; // 1
  max-width: 100%; // 2
}


// SVG's <svg>
// -----------------------------------------------------------------------------
// 1. Correct overflow not hidden in IE 9/10/11.
// -----------------------------------------------------------------------------

svg {
  &:not(:root) {
    overflow: hidden; // 1
  }
}


// Figure <figure>
// -----------------------------------------------------------------------------

figure {
  margin: 0;
}

figure > img {
  display: block;
}
