// =============================================================================
// IMAGES (Theme)
// =============================================================================


// Figure
// -----------------------------------------------------------------------------
// 1. We're using a class instead of the element because the margin is only
// required on figures used in a generic container, such as page content. Any
// other use of a figure will likely not need this treatment.
//
// 2. Maintain VR.
// -----------------------------------------------------------------------------

.figure { // 1
  margin: remCalc(26px) 0; // 2
}

.figure > img {
  position: relative; // 1
  top: -1px; // 1
}

figure + h2 {
  margin-top: remCalc(38px); // 2
}

figure + h3 {
  margin-top: remCalc(42px); // 2
}

figure + h4 {
  margin-top: remCalc(41px); // 2
}

h4 + figure {
  margin-top: remCalc(27px); // 2
}

figcaption {
  @include fontSize('note');
  color: color('text', 'light');
  margin: remCalc(9px) 0 remCalc(-5px); // 2
}
