// =============================================================================
// MEDIA (Structure)
// =============================================================================
// 1) Shows the image to the right, while leaving the HTML structure with the
//    image preceding the content.
// -----------------------------------------------------------------------------

.media {
    display: flex;
}

.media-figureLeft {
    order: 0;
}

.media-figureRight {
    order: 2; // 1
}

.media-content {
    flex: 1;
    order: 1;
}
