// =============================================================================
// MEDIA (Theme)
// =============================================================================

$media-spacing: spacing('single');


// Media
// -----------------------------------------------------------------------------
// 1. When aligning the content to the top of the image (see comment 1, under
//    Media content), the VR between two sibling media blocks is reduced. This
//    margin-top corrects that.
// -----------------------------------------------------------------------------

.media {
    margin-bottom: $media-spacing;

    + .media:not(.media--alignMiddle) {
        margin-top: $media-spacing + spacing('quarter'); // 1
    }
}

.media--stretch {
    align-items: flex-start;
}

.media--alignMiddle {
    align-items: center;
}


// Media figure
// -----------------------------------------------------------------------------
// 1. Maintain VR.
// -----------------------------------------------------------------------------

%media-figure {
    margin-bottom: 0;
    margin-top: 0;
}

.media-figureLeft {
    @extend %media-figure;
    margin-right: $media-spacing;
}

.media-figureRight {
    @extend %media-figure;
    margin-left: $media-spacing;
}

.media:not(.media--alignMiddle) > .media-figureLeft > img,
.media:not(.media--alignMiddle) > .media-figureRight > img {
    margin-top: remCalc(1px); // 1
}


// Media content
// -----------------------------------------------------------------------------
// 1. Align the content to the top of the image.
// -----------------------------------------------------------------------------

.media:not(.media--alignMiddle) .media-content {
    margin-top: -(spacing('quarter')); // 1
}

.media-content > :first-child {
    margin-top: 0;
}

.media-content > :last-child {
    margin-bottom: 0;
}
