// =============================================================================
// OBJECTS (Config)
// =============================================================================
// Easily control which objects have their classes compiled into CSS by changing
// the variable values below between true and false.
// -----------------------------------------------------------------------------

$output--embed: true;
$output--grid: false;
$output--nav: false;
$output--media: false;
