// =============================================================================
// COMPONENTS (Config)
// =============================================================================


// Element-based components
// -----------------------------------------------------------------------------

$output--buttons: true !default;
$output--images: true !default;
$output--tables: true !default;
$output--text: true !default;


// Components
// -----------------------------------------------------------------------------

// $output--accordion: true !default;
