// =============================================================================
// COMPONENTS (Config)
// =============================================================================


// Element-based components
// -----------------------------------------------------------------------------

$output--text: false;
$output--buttons: false;
$output--forms: false;
$output--images: false;
$output--tables: false;


// Components
// -----------------------------------------------------------------------------

// $output--accordion: true !default;
