// =============================================================================
// COMPONENTS (Config)
// =============================================================================

$output--accordion: false;
$output--badges: false;
$output--buttons: false;
$output--cards: false;
$output--carousel: false;
$output--chips: false;
$output--dialogs: false;
$output--embed: false;
$output--feedback: false;
$output--forms: false;
$output--grid: false;
$output--icons: false;
$output--images: true;
$output--lists: false;
$output--media: false;
$output--menus: false;
$output--progress: false;
$output--tables: false;
$output--tabs: false;
$output--timeline: false;
$output--tooltips: false;
$output--typography: true;
