// =============================================================================
// TYPOGRAPHY (Output)
// =============================================================================


@mixin heading($baseStyles: false, $levelStyles: null) {

    @if $baseStyles == true {
        // Layout
        margin: 0 0 $heading--marginBottom;
        // Appearance
        font-family: $heading--fontFamily;
        font-weight: $heading--fontWeight;
    }

    @if $levelStyles == "h1" {
        // Appearance
        font-family: $h1--fontFamily;
        font-size: $h1--fontSize;
        font-weight: $h1--fontWeight;
        text-transform: $h1--textTransform;
        line-height: $h1--lineHeight;
    }
    @else if $levelStyles == "h2" {
        // Appearance
        font-family: $h2--fontFamily;
        font-size: $h2--fontSize;
        font-weight: $h2--fontWeight;
        text-transform: $h2--textTransform;
        line-height: $h2--lineHeight;
    }
    @else if $levelStyles == "h3" {
        // Appearance
        font-family: $h3--fontFamily;
        font-size: $h3--fontSize;
        font-weight: $h3--fontWeight;
        text-transform: $h3--textTransform;
        line-height: $h3--lineHeight;
    }
    @else if $levelStyles == "h4" {
        // Appearance
        font-family: $h4--fontFamily;
        font-size: $h4--fontSize;
        font-weight: $h4--fontWeight;
        text-transform: $h4--textTransform;
        line-height: $h4--lineHeight;
    }
    @else if $levelStyles == "h5" {
        // Appearance
        font-family: $h5--fontFamily;
        font-size: $h5--fontSize;
        font-weight: $h5--fontWeight;
        text-transform: $h5--textTransform;
        line-height: $h5--lineHeight;
    }
    @else if $levelStyles == "h6" {
        // Appearance
        font-family: $h6--fontFamily;
        font-size: $h6--fontSize;
        font-weight: $h2--fontWeight;
        text-transform: $h6--textTransform;
        line-height: $h6--lineHeight;
    }
}
