// =============================================================================
// GRID (Utilities)
// =============================================================================

$grid-gutter: spacing('half');


// Grid
// -----------------------------------------------------------------------------
// The grid class is the containing class for your grid columns.
//
// 1. Allows grid columns to wrap to a new line if there's insufficient space.
// 2. Removes gutters from the grid and grid columns.
// 3. Pushes grid columns to the right side of the grid.
// 4. Centres the grid columns.
// 5. Pushes grid columns to the left and right edges and works towards center.
// 6. Vertically aligns grid columns to the top of the grid.
// 7. Vertically aligns grid columns to the middle of the grid (yay).
// 8. Vertically aligns grid columns to the bottom of the grid.
// -----------------------------------------------------------------------------

.u-grid {
  display: flex;
  margin-left: -($grid-gutter);
  margin-right: -($grid-gutter);
}

.u-grid--wrap {
  flex-wrap: wrap; // 1
}

.u-grid--collapseGutter { // 2
  margin-left: 0;
  margin-right: 0;

  > .u-grid-col { // 2
    padding-left: 0;
    padding-right: 0;
  }
}

.u-grid--alignRight {
  justify-content: flex-end; // 3
}

.u-grid--alignCenter {
  justify-content: center; // 4
}

.u-grid--alignJustify {
  justify-content: space-between; // 5
}

.u-grid--alignTop {
  align-items: flex-start; // 6
}

.u-grid--alignMiddle {
  align-items: center; // 7
}

.u-grid--alignBottom {
  align-items: flex-end; // 8
}


// Grid columns
// -----------------------------------------------------------------------------
// The column class must be used on elements that live inside a .u-grid containing
// element.
//
// To add responsive width classes, browse the utilities/columns directory.
// flex: 0 0 grid('#{$column}');
//
// 1. Vertically aligns grid column to the top of the grid.
// 2. Vertically aligns grid column to the middle of the grid (yay).
// 3. Vertically aligns grid column to the bottom of the grid.
// -----------------------------------------------------------------------------

.u-grid-col {
  flex: 1;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}

.u-grid-col--alignTop {
  align-self: flex-start; // 1
}

.u-grid-col--alignMiddle {
  align-self: center; // 2
}

.u-grid-col--alignBottom {
  align-self: flex-end; // 3
}
