// =============================================================================
// DROP DOWN (Tools)
// =============================================================================


@mixin dropdown($dropdown-position: "bottomLeft", $dropdown-toggle: "toggle", $dropdown-content: "menu") {
    position: relative;

    &-#{$dropdown-toggle} {

    }

    &-#{$dropdown-content} {
        position: absolute;
        @if $dropdown-position == "topLeft" {
            left: -9999px;
        }
        @else if $dropdown-position == "topRight" {
            right: -9999px;
        }
        @else if $dropdown-position == "bottomLeft" {
            left: -9999px;
        }
        @else if $dropdown-position == "bottomRight" {
            right: -9999px;
        }
    }

    &.is-active > &-#{$dropdown-content} {
        display: block;
        @if $dropdown-position == "topLeft" {
            bottom: $dropdown--bottomPosition;
            left: 0;
        }
        @else if $dropdown-position == "topRight" {
            right: 0;
            bottom: $dropdown--bottomPosition;
        }
        @else if $dropdown-position == "bottomLeft" {
            top: $dropdown--topPosition;
            left: 0;
        }
        @else if $dropdown-position == "bottomRight" {
            top: $dropdown--topPosition;
            right: 0;
        }
    }
}
