// =============================================================================
// INPUTS (Theme)
// =============================================================================

$input-bgColor: #fff;


// Form text inputs & selects
// -----------------------------------------------------------------------------

.form-input,
.form-select,
.form-textarea {
    @include inputPlaceholder(color('primary'));
    background-color: $input-bgColor;
    border: 1px solid color('border');
    color: color('text');
    display: block;
    font-size: fontSize('body');
    height: 2rem;
    max-width: 40rem;
    padding: spacing('quarter');
    width: 100%;

    &:hover {
        border-color: color('border', 'hover');
    }

    &:focus {
        border-color: color('border', 'active');
    }

    &[disabled] {
        background-color: color('background');
        border-color: color('border');
        cursor: not-allowed;
    }
}

.form-select {
    background: $input-bgColor url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: black'></polygon></svg>") no-repeat right 0 center;
    background-size: 8px;
}

.form-textarea {
    height: auto;
    resize: vertical;
}
