// =============================================================================
// INPUTS (Theme)
// =============================================================================
// Styles text inputs and textareas, as well as any labels related to them.
//
// 1. Allow textareas to default to their row attributes height.
// 2. Restrict users to vertically resizing textareas to avoid broken layouts.
// -----------------------------------------------------------------------------

.input {
    background-color: #fff;
    border: 1px solid color('border');
    color: color('text');
    display: block;
    font-size: fontSize('body');
    height: 2rem;
    max-width: 40rem;
    padding: spacing('quarter');
    width: 100%;

    &:hover {
        border-color: color('border', 'hover');
    }

    &:focus {
        border-color: color('border', 'active');
    }

    &[disabled] {
        background-color: color('background');
        border-color: color('border');
        cursor: not-allowed;
    }

    // scss-lint:disable VendorPrefixes

    &::-webkit-input-placeholder {
        color: color('text', 'light');
    }

    &::-moz-placeholder {
        color: color('text', 'light');
    }

    &:-ms-input-placeholder {
        color: color('text', 'light');
    }

    // scss-lint:enable VendorPrefixes
}

.input--textarea {
    height: auto; // 1
    resize: vertical; // 2
}


// Affixed labels
// -----------------------------------------------------------------------------
// Affix labels to either end of a text input.
// -----------------------------------------------------------------------------

.label--affix {
    align-items: center;
    border: 1px solid color('border');
    color: color('text', 'light');
    cursor: default;
    display: flex;
    padding: 0 spacing('half');

    &:not(:first-child) {
        border-left: 0;
    }

    &:not(:last-child) {
        border-right: 0;
    }
}


// Affixed buttons
// -----------------------------------------------------------------------------
// Affix buttons to text inputs, either before or after the input.
// -----------------------------------------------------------------------------

.button--affix:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button--affix:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


// Inset labels
// -----------------------------------------------------------------------------
// Displays labels within text inputs.
//
// 1. Allows the insetLabel to be clicked through in modern browsers.
// -----------------------------------------------------------------------------

$label-inset-margin: spacing('eighth');
$label-inset-width: 5rem;

.label--inset {
    height: 2rem;
    margin: spacing('eighth');
    pointer-events: none; // 1
    position: absolute;
    width: 5rem;
}

.input.has-label-inset {
    padding-left: $label-inset-width + ($label-inset-margin * 2);
}


// Inset buttons
// -----------------------------------------------------------------------------
// Displays buttons within text inputs.
// -----------------------------------------------------------------------------

.button--inset {
    display: block;
    height: 2rem;
    position: absolute;
    right: 0;
    width: 2rem;
}

.form-input.has-button-inset {
    padding-right: spacing('double');
}
