// =============================================================================
// DISPLAY (Tools)
// =============================================================================


// Display mixins
// -----------------------------------------------------------------------------
// 1. Fix for Firefox bug: an image styled 'max-width: 100%' within an
//  inline-block will display at its default size, and not limit its width to
//  100% of an ancestral container.
// -----------------------------------------------------------------------------

@mixin hidden() {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin visible() {
  clip: auto;
  height: auto;
  margin: inherit;
  overflow: auto;
  position: inherit;
  width: auto;
}

@mixin displayInline() {
  display: inline-block;
  max-width: 100%; // 1
}


// HTML5 element support for older browsers
// -----------------------------------------------------------------------------
// 1. Correct `block` display not defined for:
//  a) any HTML5 element in IE 8/9.
//  b) Both `details` and `summary` in IE 10/11 and Firefox.
//  c) The `main` element in IE 11.
// 2. Address `[hidden]` styling not present in IE 8/9/10.
// 3. Correct `inline-block` display not defined in IE 8/9.
// -----------------------------------------------------------------------------

@mixin html5-elements-display() {
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block; // 1
  }

  [hidden] {
    display: none; // 2
  }

  canvas,
  video {
    display: inline-block; // 3
  }
}
