// =============================================================================
// DISPLAY (Tools)
// =============================================================================


// Display mixins
// -----------------------------------------------------------------------------
// 1. Fix for Firefox bug: an image styled 'max-width: 100%' within an
//    inline-block will display at its default size, and not limit its width to
//    100% of an ancestral container.
// -----------------------------------------------------------------------------

@mixin hidden() {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin visible() {
    clip: auto;
    height: auto;
    margin: inherit;
    overflow: auto;
    position: inherit;
    width: auto;
}

@mixin displayInline() {
    display: inline-block;
    max-width: 100%; // 1
}
