// =============================================================================
// POSITION (Tools)
// =============================================================================
// 1. Pins to all corners by default. But when a width and/or height are
//    provided, the element will be centered in its nearest
//    relatively-positioned ancestor.
//
// 2. Make sure fixed elements are promoted into a new layer, for
//    performance reasons.
// -----------------------------------------------------------------------------

@mixin position($variant) {
    @if $variant == 'absoluteCenter' { // 1
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;

    } @else if $variant == 'fixed' {
        backface-visibility: hidden; // 2
        position: fixed;
    }
}
