// =============================================================================
// SHAPES (Tools)
// =============================================================================


// Triangle
// -----------------------------------------------------------------------------

@mixin triangle($triangle-direction, $triangle-size, $triangle-color) {
    border: inset $triangle-size;
    content: '';
    display: block;
    height: 0;
    width: 0;

    @if ($triangle-direction == 'top') {
        border-color: $triangle-color transparent transparent;
        border-top-style: solid;
    }

    @if ($triangle-direction == 'bottom') {
        border-bottom-style: solid;
        border-color: transparent transparent $triangle-color;
    }

    @if ($triangle-direction == 'left') {
        border-color: transparent transparent transparent $triangle-color;
        border-left-style: solid;
    }

    @if ($triangle-direction == 'right') {
        border-color: transparent $triangle-color transparent transparent;
        border-right-style: solid;
    }
}
