// =============================================================================
// TYPOGRAPHY (Tools)
// =============================================================================


// Font Size
// -----------------------------------------------------------------------------
// This is the mixin you will be using to define your font-size in all of your
// components, patterns or layouts files.
//
// Using this mixin ties the font-size to your line-height scale, for consistent
// typography throughout your project.
// -----------------------------------------------------------------------------

@mixin fontSize($fontSize, $lineHeight: $fontSize) {
    font-size: fontSize($fontSize);
    line-height: lineHeight($lineHeight);
}


// Text Truncate
// -----------------------------------------------------------------------------
// 1. Ensure that the node has a maximum width after which truncation can occur.
// 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor nodes.
// -----------------------------------------------------------------------------

@mixin textTruncate {
    max-width: 100%; // 1
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal; // 2
}


// Text Kerning
// -----------------------------------------------------------------------------
// 1. Chrome (not Windows), Firefox, IE 10+.
// 2. Safari 7 and future browsers.
// 3. Chrome (not Windows), Firefox, Safari 6+, iOS, Android.
// -----------------------------------------------------------------------------

@mixin textKerning {
    font-feature-settings: 'kern' 1; // 1
    font-kerning: normal; // 2
    text-rendering: optimizeLegibility; // 3
}


// Placeholder Text
// -----------------------------------------------------------------------------

@mixin inputPlaceholder($color) {
    // scss-lint:disable VendorPrefixes
    &::-webkit-input-placeholder {
        color: $color;
    }

    &::-moz-placeholder {
        color: $color;
    }

    &:-ms-input-placeholder {
        color: $color;
    }
    // scss-lint:enable VendorPrefixes
}
