// =============================================================================
// IMAGES (Theme)
// =============================================================================


// Figure
// -----------------------------------------------------------------------------

.figure {
    margin: 0 0 spacing("single");
}

.figcaption {
    color: color("primary");
    font-size: fontSize("smaller");
}
