// =============================================================================
// BUTTONS (Theme)
// =============================================================================

$button-borderRadius: 2px;


// Button
// -----------------------------------------------------------------------------
// 1. Maintain VR.
// -----------------------------------------------------------------------------

.button {
    @include fontSize("note");
    border-radius: $button-borderRadius;
    border: 1px solid color("border");
    color: color("text");
    font-family: fontFamily("text");
    font-weight: fontWeight("bold");
    padding: remCalc(8px) spacing("single") remCalc(6px); // 1
    text-transform: uppercase;

    &:hover,
    &:focus {
        border-color: color("border", "hover");
    }

    &:active,
    &.is-active {
        border-color: color("border", "active");
    }
}

.button + .button {
    margin-left: spacing("half");
}


// Button types
// -----------------------------------------------------------------------------

.button--primary {
    background-color: color("primary");
    border-color: color("primary");
    color: color("basics", "white");

    &:hover,
    &:focus {
        background-color: color("primary", "light");
        border-color: color("primary", "light");
    }

    &:active,
    &.is-active {
        background-color: color("primary", "dark");
        border-color: color("primary", "dark");
    }
}

.button--flat {
    background-color: none;
    border-color: transparent;

    &:hover,
    &:focus {
        background-color: color("primary", "light");
        border-color: color("primary", "light");
    }

    &:active,
    &.is-active {
        background-color: color("primary", "dark");
        border-color: color("primary", "dark");
    }
}

.button[disabled] {
    background-color: material("grey", 300);
    border-color: material("grey", 300);
    color: material("grey");
    cursor: not-allowed;
}


// Button sizes
// -----------------------------------------------------------------------------
// 1. Button that stretches 100% width of its container
// 2. Maintain VR.
// -----------------------------------------------------------------------------

.button--large,
%button--large {
    font-size: fontSize("base");
    padding: remCalc(12px) spacing("double") remCalc(10px);
}

.button--small,
%button--small {
    font-size: fontSize("small");
    margin-top: 1px; // 2
    padding: remCalc(3px) (spacing("half") + spacing("eighth")) remCalc(2px); // 2
}

.button--stretch { // 1
    display: block;
    width: 100%;
}


// Button groups
// -----------------------------------------------------------------------------
// 1. Inline-block layout. Reduce font-size to 0, to be re-set on the button.
// 2. Relative positioning is placed here for reference to nested input
//    checkboxes and radio buttons which are hidden via position: absolute;
// 3. Removes any undesired border-radius.
// 4. Offset the border-width of the buttons.
// 5. Button groups can apply the sizing modifiers once via the group class.
//    This allows the buttons themselves to remain as simple as possible.
// -----------------------------------------------------------------------------

.buttonGroup {
    display: inline-block;
    font-size: 0; // 1
    position: relative;
    vertical-align: middle;
}

.buttonGroup > .button {
    display: inline-block;
    position: relative; // 2

    &:hover {
        z-index: 1;
    }

    &:first-child {
        border-bottom-right-radius: 0; // 3
        border-top-right-radius: 0; // 3
    }

    &:not(:first-child):not(:last-child) {
        border-radius: 0; // 3
    }

    &:last-child {
        border-bottom-left-radius: 0; // 3
        border-top-left-radius: 0; // 3
    }
}

.buttonGroup > .button + .button {
    margin-left: -1px; // 4
}

.buttonGroup--large > button { // 5
    @extend %button--large;
}

.buttonGroup--small > button { // 5
    @extend %button--small;
}
