// =============================================================================
// DOCUMENT (Primer)
// =============================================================================
// 1. Set a fixed pixel value on the html element for rem to use.
// 2. Prevent adjustments of font size after orientation changes in iOS.
// 3. Need to explicity declare each font property. IE10 does not support rem
//    units in the shorthand font property.
// 4. Improve the font-smoothing of text in browsers. This will smooth and thin
//    the weight of the font in modern browsers.
//
// Linting rule exceptions:
// stylelint-disable unit-blacklist
// stylelint-disable property-no-vendor-prefix
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $global__fontSize; // 1
  -webkit-text-size-adjust: 100%; // 2
}

body {
  background-color: #fff;
  color: color('text');
  font-family: var(--fontB1__size); // 3
  font-size: 1rem; // 3
  -moz-osx-font-smoothing: grayscale; // 4
  -webkit-font-smoothing: antialiased; // 4
  line-height: var(--fontB1__height); // 3
  margin: 0;
}
