// =============================================================================
// HORIZONTAL RULE (Primer)
// =============================================================================
// 1. Add the correct box sizing in Firefox.
// 2. Show the overflow in Edge and IE.
// -----------------------------------------------------------------------------

hr {
  border: 0;
  border-bottom: 1px solid var(--color__n3);
  box-sizing: content-box; // 1
  clear: both;
  height: 0; // 1
  margin: space(1) 0;
  overflow: visible; // 2
}
