// =============================================================================
// IMAGES (Primer)
// =============================================================================
// 1. Remove the border on images inside links in IE 10.
// 2. Enable images to be responsive to their container.
// -----------------------------------------------------------------------------

img {
  border-style: none; // 1
  height: auto; // 2
  max-width: 100%; // 2
}
