// =============================================================================
// LINKS (Primer)
// =============================================================================
// 1. Remove the gray background on active links in IE 10.
// -----------------------------------------------------------------------------

a {
  background-color: transparent; // 1
  color: color('p500');
  text-decoration: none;

  &:hover,
  &:focus {
    color: color('primary');
    text-decoration: none;
  }
}
