// =============================================================================
// LINKS (Primer)
// =============================================================================
// 1. Remove the gray background on active links in IE 10.
// -----------------------------------------------------------------------------

a {
  background-color: transparent; // 1
  color: var(--color__p5);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color__p3);
    text-decoration: none;
  }
}
