// =============================================================================
// SELECTION (Primer)
// =============================================================================

::selection {
  background: color('primary');
  color: #fff;
  text-shadow: none;
}
