// =============================================================================
// SELECTION (Primer)
// =============================================================================

::selection {
  background: var(--COLOR__P3);
  color: #fff;
  text-shadow: none;
}
