// =============================================================================
// TEXT (Primer)
// =============================================================================
// 1. Remove the bottom border in Chrome 57
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
// 3. Prevent sub/sup elements from affecting the line height in all browsers.
// -----------------------------------------------------------------------------

%heading {
  color: var(--color__n7);
  margin: 0;
}

h1 {
  @extend %heading;
  font-size: var(--fontH1__height);
  font-weight: var(--fontH1__weight);
  line-height: var(--fontH1__height);
}

h2 {
  @extend %heading;
  font-size: var(--fontH2__size);
  font-weight: var(--fontH2__weight);
  line-height: var(--fontH2__height);
}

h3 {
  @extend %heading;
  font-size: var(--fontH3__size);
  font-weight: var(--fontH3__weight);
  line-height: var(--fontH3__height);
}

h4,
h5,
h6 {
  @extend %heading;
  font-size: var(--fontB1__size);
  font-weight: var(--fontB1__weight);
  line-height: var(--fontB1__height);
}

p {
  margin: 0 0 space(1.5);
}

b,
strong {
  font-weight: var(--fontWeight__bold);
}

abbr {
  cursor: help;
  text-decoration: underline;
}

abbr[title] { // stylelint-disable-line
  border-bottom: none; // 1
  text-decoration: underline dotted; // 2
}

small {
  font-size: var(--fontB2__size);
}

sub,
sup {
  font-size: var(--fontB3__size); // 3
  line-height: 0; // 3
  position: relative; // 3
  vertical-align: baseline; // 3
}

sub {
  bottom: -0.25em; // 3
}

sup {
  top: -0.5em; // 3
}
