// =============================================================================
// TEXT (Primer)
// =============================================================================
// 1. Remove the bottom border in Chrome 57
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
// 3. Prevent sub/sup elements from affecting the line height in all browsers.
// -----------------------------------------------------------------------------

%heading {
  color: var(--COLOR__N7);
  margin: 0;
}

h1 {
  @extend %heading;
  font-size: var(--FONT_SIZE__H1);
  font-weight: var(--FONT_WEIGHT__H1);
  line-height: var(--FONT_HEIGHT__H1);
}

h2 {
  @extend %heading;
  font-size: var(--FONT_SIZE__H2);
  font-weight: var(--FONT_WEIGHT__H2);
  line-height: var(--FONT_HEIGHT__H2);
}

h3 {
  @extend %heading;
  font-size: var(--FONT_SIZE__H3);
  font-weight: var(--FONT_WEIGHT__H3);
  line-height: var(--FONT_HEIGHT__H3);
}

h4,
h5,
h6 {
  @extend %heading;
  font-size: var(--FONT_SIZE__B1);
  font-weight: var(--FONT_WEIGHT__B1);
  line-height: var(--FONT_HEIGHT__B1);
}

p {
  margin: 0 0 space(1.5);
}

b,
strong {
  font-weight: var(--FONT_WEIGHT__BOLD);
}

abbr {
  cursor: help;
  text-decoration: underline;
}

abbr[title] { // stylelint-disable-line
  border-bottom: none; // 1
  text-decoration: underline dotted; // 2
}

small {
  font-size: var(--FONT_SIZE__B2);
}

sub,
sup {
  font-size: var(--FONT_SIZE__B3); // 3
  line-height: 0; // 3
  position: relative; // 3
  vertical-align: baseline; // 3
}

sub {
  bottom: -0.25em; // 3
}

sup {
  top: -0.5em; // 3
}
