// =============================================================================
// GRID (Tools)
// =============================================================================


// Grid row
// -----------------------------------------------------------------------------
//
// 1) To remove gutters, set the value of $gutter to "noGutter".
//
// -----------------------------------------------------------------------------

@mixin o-grid($type: "flexbox", $gutter: $grid--gutter, $marginBottom: $grid--marginBottom, $wrap: null) {
    @if $type == "flexbox" {
        display: flex;

        @if $wrap == "wrap" {
            flex-wrap: wrap;
        }
    }
    @else if $type == "float" {
        @include clearFloats;
    }

    @if $gutter != "noGutter" { // 1
        margin-right: -($gutter);
        margin-left: -($gutter);
    }

    // Layout
    margin-bottom: $marginBottom;
}


// Grid column
// -----------------------------------------------------------------------------
//
// 1) To remove gutters, set the value of $gutter to "noGutter".
//
// -----------------------------------------------------------------------------

@mixin o-grid-block($type: "flexbox", $gutter: $grid--gutter, $column: null) {
    @if $type == "flexbox" {
        @if $column == null {
            flex: 1;
        }
        @else if $column != null {
            flex: 0 0 grid("#{$column}");
        }
    }
    @else if $type == "float" {
        float: left;

        @if $column != null {
            width: grid("#{$column}");
        }
    }

    @if $gutter != "noGutter" { // 1
        padding-right: $gutter;
        padding-left: $gutter;
    }
}
