// =============================================================================
// Z-INDEX (Settings)
// =============================================================================
// Keep track of all your z-index values in one central location.
// Never add another 9 or 0 again to try to beat some random number somewhere in
// your code, those days are numbered... Get it? Did you get it...?
// -----------------------------------------------------------------------------


// Z-index scale
// -----------------------------------------------------------------------------
// This scale is strictly for use in the below zIndexMap. It's not to be
// referenced in any other partial file or theme file.
// -----------------------------------------------------------------------------

$zIndex-1: 10;
$zIndex-2: 20;
$zIndex-3: 30;
$zIndex-4: 40;
$zIndex-5: 50;
$zIndex-6: 60;
$zIndex-7: 70;
$zIndex-8: 80;
$zIndex-9: 90;


// Z-index applications map
// -----------------------------------------------------------------------------
// Declare all of your builds z-index's in one location. Map them out using well
// defined keys that match the location/name of the z-index to the variables
// defined above.
//
// Example: {z-index: zIndex('tooltip');}
// -----------------------------------------------------------------------------

$zIndexMap: (
    'dropdown': $zIndex-6,
    'tooltip': $zIndex-7,
    'dialog': $zIndex-8
);




// Z-index function
// -----------------------------------------------------------------------------

@function zIndex($zIndex) {
    @if map-has-key($zIndexMap, $zIndex) {
        @return map-get($zIndexMap, $zIndex);
    }
    @warn 'Unknown z-index `#{$zIndex}` used in zIndex function.';
    @return null;
}
