// =============================================================================
// CHIPS (Theme)
// =============================================================================

$chip-borderRadius: 2px;
$chip-padding-vertical: (spacing('quarter') + spacing('eighth'));
$chip-padding-horizontal: (spacing('half') + spacing('quarter'));


// Chip
// -----------------------------------------------------------------------------

.chip {
    background-color: color('background');
    border-radius: $chip-borderRadius;
    font-size: fontSize('small');
    line-height: lineHeight('small');
    padding: $chip-padding-vertical $chip-padding-horizontal;

    &:hover {
        background-color: color('background', 'dark');
    }
}

.chip-image {
    border-radius: $chip-borderRadius 0 0 $chip-borderRadius;
    float: left;
    height: 2rem;
    margin: (-$chip-padding-vertical) spacing('half') (-$chip-padding-vertical) (-$chip-padding-horizontal);
    width: 2rem;
}
