// =============================================================================
// BADGES (Theme)
// =============================================================================

.badge {
    font-weight: fontWeight("normal");
    line-height: lineHeight("small");
}


// Badge types
// -----------------------------------------------------------------------------
// 1. Maintain VR.
// 2. For use with .badge--label only.
// -----------------------------------------------------------------------------

.badge--label {
    background-color: color("background", "light");
    border-radius: 2px;
    font-size: fontSize("small");
    padding: remCalc(1px) (spacing("quarter") + spacing("eighth")) 0; // 1
    text-transform: uppercase;
}

.badge--count {
    border-radius: 50%;
    font-size: fontSize("small");
    text-align: center;
    text-indent: 0.05em;
    width: lineHeight("small");
}

.badge--large { // 2
    font-size: fontSize("base");
    line-height: 1;
    margin-top: -1px; // 1
    padding: remCalc(5px) (spacing("quarter") + spacing("eighth")) remCalc(3px); // 1
}

.badge--outline {
    border: 1px solid color("divider");
    line-height: 1;
    padding: spacing("quarter") remCalc(5px) remCalc(3px); // 1
}


// Badge skins
// -----------------------------------------------------------------------------

.badge--primary {
    background-color: color("primary");
    color: color("basics", "white");
}


// Class collision fixes.
// -----------------------------------------------------------------------------

.badge--outline.badge--label {
    background: none;
}

.badge--outline.badge--primary {
    background: none;
    border-color: color("primary");
    color: inherit;
}

.badge--outline.badge--large {
    padding: spacing("quarter") remCalc(5px) remCalc(2px); // 1
}


// Badges inside headings
// -----------------------------------------------------------------------------
// 1. Align badges to the middle of the headings.
//    They lose VR rhythm, but visually suit much better.
// -----------------------------------------------------------------------------

.badge--label {

    h1 > &,
    h2 > &,
    h3 > &,
    h4 > & {
        vertical-align: middle; // 1
    }
}
