// =============================================================================
// MEDIA (Tools)
// =============================================================================


@mixin o-media($verticalAlign: "top", $figureAlign: "left", $figureSpacing: $media-figure--marginHorizontal, $figureClass: "figure", $textClass: "body") {
    // Layout
    display: flex;
    margin-bottom: $media--marginBottom;

    @if $verticalAlign == "top" {
        align-items: flex-start;
    }
    @else if $verticalAlign == "middle" {
        align-items: center;
    }
    @else if $verticalAlign == "bottom" {
        align-items: bottom;
    }


    // Media Figure
    // -------------------------------------------------------------------------
    //
    // 1) Shows the image to the right, while leaving the DOM as normal.
    //
    // -------------------------------------------------------------------------

    @if $figureAlign == "left" or $figureAlign == "both" {

        &-#{$figureClass}Left {
            // Layout
            order: 0;
            margin-right: $figureSpacing;
        }
    }
    @if $figureAlign == "right" or $figureAlign == "both" {

        &-#{$figureClass}Right {
            // Layout
            order: 2; // 1
            margin-left: $figureSpacing;
        }
    }


    // Media Content
    // -------------------------------------------------------------------------

    &-#{$textClass} {
        // Layout
        flex: 1;
        order: 1;
    }
}
