// =============================================================================
// PROGRESS (Structure)
// =============================================================================


// Progress bar
// -----------------------------------------------------------------------------
// 1. Remove the appearance of the browser default progress bars.
// 2. Remove Firefox and Opera border.
// -----------------------------------------------------------------------------

.progress {
    display: block;
    width: 100%;
}

.progress[value] {
    appearance: none; // 1
    border: 0; // 2
}


// Progress spinner
// -----------------------------------------------------------------------------
