// =============================================================================
// PROGRESS (Structure)
// =============================================================================


// Progress bar
// -----------------------------------------------------------------------------
// 1. Correct display not defined in IE 8/9.
// 2. Normalize vertical alignment of 'progress' in Chrome, Firefox, and Opera.
// 3. Remove the appearance of the browser default progress bars.
// 4. Remove Firefox and Opera border.
// -----------------------------------------------------------------------------

.progress {
    display: block; // 1
    vertical-align: baseline; // 2
    width: 100%;
}

.progress[value] {
    appearance: none; // 3
    border: 0; // 4
}


// Progress spinner
// -----------------------------------------------------------------------------
