// =============================================================================
// LIST (Tools)
// =============================================================================
//
// $display - can be set to "inline" for horizontal lists, or left as null
//            to maintain a block (vertical) list.
//
// -----------------------------------------------------------------------------

@mixin list($display: null, $itemClass: "item", $style: $list--style, $margin: $list--margin, $padding: $list--padding) {
    // Layout
    @if $display == "inline" {
        @include clearFloats;
    }
    margin: $margin;
    padding: $padding;
    // Appearance
    list-style: $style;

    @if $itemClass != null {
        &-#{$itemClass} {
            display: block;

            @if $display == "inline" {
                float: left;
            }
        }
    }
}
