// =============================================================================
// TYPOGRAPHY (Structure)
// =============================================================================


// Document
// -----------------------------------------------------------------------------
//
// 1. Prevent iOS text size adjust after orientation change, without disabling
//    user zoom.
//
// -----------------------------------------------------------------------------

html {
    -ms-text-size-adjust: 100%; // 1
    -webkit-text-size-adjust: 100%; // 1
}


// Links
// -----------------------------------------------------------------------------
//
// 1. Remove the gray background color from active links in IE 10.
// 2. Improve readability when focused and also mouse hovered in all browsers.
//
// -----------------------------------------------------------------------------

a {
    background-color: transparent; // 1
}

a:active,
a:hover {
    outline: 0; // 2
}


// Text-level semantics
// -----------------------------------------------------------------------------
//
// 1. Styling not present in IE 8/9/10/11, Safari, and Chrome.
// 2. Styling not present in Safari and Chrome.
// 3. Contain overflow in all browsers.
// 4. Prevent `sub` and `sup` affecting `line-height` in all browsers.
//
// -----------------------------------------------------------------------------

abbr[title] {
    border-bottom: 1px dotted; // 1
}

dfn {
    font-style: italic; // 2
}

pre {
    overflow: auto; // 3
}

sub,
sup {
    line-height: 0; // 4
    position: relative; // 4
    vertical-align: baseline; // 4
}


// Horizontal rule
// -----------------------------------------------------------------------------
//
// 1. Address differences between Firefox and other browsers.
//
// -----------------------------------------------------------------------------

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
