// =============================================================================
// TYPOGRAPHY (Theme)
// =============================================================================


// Text variables
// -----------------------------------------------------------------------------

$text-spacing: spacing("single");


// Document
// -----------------------------------------------------------------------------

html {
    @include textKern;
    font-size: fontSizeRoot("small");

    @include viewport("large") {
        font-size: fontSizeRoot("medium");
    }

    @include viewport("largest") {
        font-size: fontSizeRoot("large");
    }
}

body {
    font: 1rem/1.5 fontFamily("text");
}


// Text selection
// -----------------------------------------------------------------------------

::selection {
    text-shadow: none;
    color: color("whites");
    background: material("pink", 500);
}


// Links
// -----------------------------------------------------------------------------

a {
    color: material("blue");
    text-decoration: underline;

    &:hover {
        color: material("blue", 700);
    }

    &:active {
        color: material("blue", 900);
    }
}


// Headings
// -----------------------------------------------------------------------------

%heading {
    font-family: fontFamily("heading");
    font-weight: fontWeight("semibold");
    margin: 0 0 $text-spacing;
}

h1,
%h1 {
    @extend %heading;
    font-size: fontSize("largest");
}

h2,
%h2 {
    @extend %heading;
    font-size: fontSize("larger");
}

h3,
%h3 {
    @extend %heading;
    font-size: fontSize("large");
}

h4,
%h4 {
    @extend %heading;
    font-size: fontSize("small");
}

h5,
%h5 {
    @extend %heading;
    font-size: fontSize("smaller");
}

h6,
%h6 {
    @extend %heading;
    font-size: fontSize("smallest");
}


// Paragraphs
// -----------------------------------------------------------------------------

p {
    margin: 0 0 $text-spacing;
}


// Lists
// -----------------------------------------------------------------------------

ul,
ol,
dl {
    margin: 0 0 $text-spacing;
}

ul,
ol {
    margin-left: $text-spacing;

    ul,
    ol {
        margin-bottom: 0;
    }
}

dt {
    margin-bottom: $text-spacing / 2;
    font-weight: fontWeight("bold");
}

dd {
    margin-bottom: $text-spacing / 2;
}


// Blockquote
// -----------------------------------------------------------------------------

blockquote {
    border-left: spacing("eighth") solid material("lime", 500);
    color: material("lime", 500);
    margin: 0 0 $text-spacing;
    padding: spacing("single");

    cite {
        color: material("lime", 500);
        display: block;
        font-size: fontSize("smallest");
    }
}


// Text elements
// -----------------------------------------------------------------------------

abbr,
acronym {
    border-bottom: 1px dotted material("pink", 500);
    color: material("pink", 700);
    cursor: help;
    font-size: fontSize("smallest");
}

acronym {
    text-transform: uppercase;
}

em,
i {
    font-style: italic;
}

mark {
    background: material("pink", 500);
    color: color("whites");
}

small {
    font-size: fontSize("tiny");
}

strong,
b {
    font-weight: fontWeight("semibold");
}

sub,
sup {
    font-size: fontSize("tiny");
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


// Horizontal rule
// -----------------------------------------------------------------------------

hr {
    // Local variables
    $borderWidth: 1px;

    border: $borderWidth solid material("amber", 500);
    clear: both;
    margin: $text-spacing 0 ($text-spacing - (remCalc($borderWidth)));
}


// Syntax Highlighting
// -----------------------------------------------------------------------------

// pre {
//     background-color: material("deepPurple", 500);
//     border: 1px solid material("deepPurple", 700);
//     color: color("whites");
//     font-family: fontFamily("code");
//     font-size: 1rem;
//     padding: spacing("half");
// }

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #f8f8f2;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
    color: #e6db74;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #fd971f;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre.line-numbers > code {
    position: relative;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

    .line-numbers-rows > span {
        pointer-events: none;
        display: block;
        counter-increment: linenumber;
    }

        .line-numbers-rows > span:before {
            content: counter(linenumber);
            color: #999;
            display: block;
            padding-right: 0.8em;
            text-align: right;
        }
