// =============================================================================
// BUTTONS
// =============================================================================

.button {
  --background: var(--COLOR__N3);
  --color: var(--COLOR__N1);
  --padding: #{space(0.5) space(1)};

  background-color: var(--background);
  border: 0;
  color: var(--color);
  padding: var(--padding);
}

// Colour modifiers
// -----------------------------------------------------------------------------

.button--primary {
  --background: var(--COLOR__P3);
  --color: var(--COLOR__N1);
}

// Size modifiers
// -----------------------------------------------------------------------------

.button--large {
  --padding: #{space(0.75) space(1.5)};
}
