// =============================================================================
// BUTTONS
// =============================================================================

.button {
  --background: var(--color-n7);
  --color: var(--color-n1);
  --padding: space(0.5) space(1);

  background-color: var(--background);
  border: 0;
  color: var(--color);
  padding: var(--padding);
}

// Colour modifiers
// -----------------------------------------------------------------------------

.button--primary {
  --background: var(--color-p3);
  --color: var(--color-n1);
}

// Size modifiers
// -----------------------------------------------------------------------------

.button--large {
  --padding: space(0.75) space(1.5);
}
