// =============================================================================
// ICONS
// =============================================================================

// Config
// -----------------------------------------------------------------------------

$iconMap: (
  'small': 1rem,
  'medium': 1.5rem,
  'large': 3rem
);

@function icon($size) {
  @return map-get($iconMap, $size);
  @warn 'Unknown icon size `#{$size}` used in function.';
  @return null;
}

// Component
// -----------------------------------------------------------------------------

.icon {
  --size: icon('medium');
  --color: var(--color-n3);

  color: var(--color);
  height: var(--size);
  width: var(--size);
}

// Colour modifiers
// -----------------------------------------------------------------------------

.icon--primary {
  --color: var(--color-p3);
}

// Size modifiers
// -----------------------------------------------------------------------------

.icon--small {
  --size: icon('small');
}

.icon--large {
  --size: icon('large');
}
