// =============================================================================
// ICONS
// =============================================================================

.icon {
  --size: 1.5rem;
  --color: var(--COLOR__N3);

  color: var(--color);
  height: var(--size);
  width: var(--size);
}

// Colour modifiers
// -----------------------------------------------------------------------------

.icon--primary {
  --color: var(--COLOR__P3);
}

// Size modifiers
// -----------------------------------------------------------------------------

.icon--small {
  --size: 1rem;
}

.icon--large {
  --size: 3rem;
}
