:root {
  --varGlobal: 1rem;
}

/* Comment with multi lines */

.classZero:hover {
  font-size: 1rem;

  .classNested {
    font-weight: 800; // 1
  }
}

@mixin testMixin() {
  margin: 1rem;
}

.nameOne {
  @extend .classZero;

  --var: #0f0;
  $var: #00f;

  color: #f00;
  font-family: 'Times New Roman', sans-serif;
  margin: 0.5rem;
  padding: 10px + 5px;

  @include testMixin();
}

* + * {
  font-weight: bold;
}

.nameOne {
  font-size: 1rem;
}

h1 {
  --size: font('h1', 'size');
  --thingName: #f00;
  --thingNameNameName: #00f;

  font-size: var(--size);
}

a {
  $variable: 2rem;

  border: 1px solid #f00;
  font-size: rem(28px);
  transform: translate(1, 1);
}

.nam {
  color: #000;
}

.name {
  color: #00f;
}

.nameOneLong {
  color: #020;
}

.name-two {
  color: #00f;
}

.component {
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 2;
  font-size: 15px;
}

.component__thingName {
  color: #f00;
}

.component--modifier {
  color: #00f;
}

.component__descendant--modifier {
  font-size: 16px;
}

.component__descendant--modifier\@s {
  font-size: 16px;
}

.foo .bar .baz {
  font-size: 1rem;
}

#foo {
  font-size: 1rem;
}

.foo .bar > .baz {
  font-size: 1rem;
}

div div div div {
  font-size: 1rem;
}

// Avatar sizes
// -----------------------------------------------------------------------------
// 1. Blah sdafhj
//
// More stuff
// -----------------------------------------------------------------------------

h2 {
  font-size: 2em;
}

.classTwo {
  border: 1px solid #f00;
}

.nameOne--anotherName {
  padding: 1rem;
}

.component {
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 2;
  font-size: 15px;
}

.component__thingName {
  color: #f00;
}

.component--modifier {
  color: #00f;
}

.component__descendant--modifier {
  font-size: 16px;
}

.component__descendant--modifier\@s {
  font-size: 16px;
}

.foo .bar .baz {
  font-size: 1rem;
}
