// =============================================================================
// FILE TITLE EXAMPLE
// =============================================================================

.selector {
  // Comment
  background-image: url('img/image.png'); // Comment
  border: 1px solid #000;
  color: #abcdef;
  font-family: 'Times New Roman', serif;
  height: 20px;
  margin: 2rem 0;
  padding-top: 1rem;
  text-transform: uppercase;
  width: calc(100% - 8rem);

  &:hover {
    border-color: #daa520;
  }

  &::before {
    content: 'Hello';
  }
}

// Section example
// -----------------------------------------------------------------------------

.selectorA,
.selectorB,
.selectorC[type='text'] {
  color: #f00;
}

%foo {
  border: 1px solid #f00;
}

.classSelector {
  @extend %foo;
  --name: #fff;
  $var: #fff;
  background-color: #999;
  @include hidden();

  @include viewport('small') {
    color: #777;
  }

  &:hover {
    color: #222;
  }

  .classNested {
    font-weight: 700;
  }
}
