// =============================================================================
// FILE TITLE EXAMPLE
// =============================================================================

.selector {
  background-image: url('img/image.png');
  border: 1px solid #000;
  border-width: 2rem;
  color: #abcdef;
  font-family: 'Times New Roman', serif;
  margin: 2rem 0;
  padding-top: 1rem;
  text-transform: uppercase;
  width: calc(100% - 8rem);

  &:hover {
    border-color: #daa520;
  }

  &::before {
    content: 'Hello';
  }
}

// Section example
// -----------------------------------------------------------------------------

.selectorA,
.selectorB,
.selectorC[type='text'] {
  color: #f00;
}
