// =============================================================================
// CALCULATIONS (Tools)
// =============================================================================

@function stripUnit($num) {
    @return $num / ($num * 0 + 1);
}

@function convertToRem($value, $base-value: 1rem) {
    $value: stripUnit($value) / stripUnit($base-value) * 1rem;
    // scss-lint:disable ZeroUnit
    @if ($value == 0rem) {
        $value: 0;
    }
    @return $value;
}

@function remCalc($values, $base-value: "mobile") {
    $max: length($values);
    @if $max == "1" {
        @return convertToRem(nth($values, 1), fontSize($base-value, "root"));
    }
    $remValues: ();
    @for $i from 1 through $max {
        $remValues: append($remValues, convertToRem(nth($values, $i), fontSize($base-value, "root")));
    }
    @return $remValues;
}
