// =============================================================================
// TYPOGRAPHY (Settings)
// =============================================================================


// Font-size map
// -----------------------------------------------------------------------------
// There are 2 font size scales built into Water. As screen sizes vary quite
// significantly, having only 1 set of font sizes or line heights for all
// viewports isn't a good idea. Below you'll be able to set sizes for mobile and
// desktop viewports separately to improve readability.
//
// NOTE: The "mobile" scale will change to the "desktop" scale based on the
// value of the $desktopViewport variable found in _viewport-settings.scss
// Please set that value to your desired viewport.
//
// NOTE: "root" font sizes are the default pixel or percentage based font size,
// which set the standards for your relative units to follow.
// -----------------------------------------------------------------------------

$fontSizeMap: (
    // Global
    "global": (
        "base": 1rem
    ),

    // Mobile scale: Minor Third
    "mobile": (
        "root": 16px,
        "hero": 2.489rem,
        "h1": 2.074rem,
        "h2": 1.728rem,
        "h3": 1.44rem,
        "h4": 1.2rem,
        "tiny": 0.833rem
    ),

    // Desktop scale: Major Third
    "desktop": (
        "root": 18px,
        "hero": 3.052rem,
        "h1": 2.441rem,
        "h2": 1.953rem,
        "h3": 1.563rem,
        "h4": 1.25rem,
        "tiny": 0.8rem
    )
);


// Line-height map
// -----------------------------------------------------------------------------
// Similarly to the font size scales for mobile and desktop, you'll find the
// matching line height scales below.
//
// NOTE: Global line-height should be unitless. All following font-size specific
// line-heights can be measured in rem units for simplicity, or unitless if you
// you like math enough, despite knowing the outcome isn't any better.
//
// NOTE: The "mobile" scale will change to the "desktop" scale based on the
// value of the $desktopViewport variable found in _viewport-settings.scss
// Please set that value to your desired viewport.
//
// NOTE: The desktop and mobile line heights are set to a consistent vertical
// rhythm, which should be maintained throughout the project.
//
// Line height of 1.5625 = 16px/25px & 18px/28.125px (font-size/line-height).
// -----------------------------------------------------------------------------

$lineHeightMap: (
    // Global
    "global": (
        "base": 1.5625
    ),

    // Mobile scale: Minor Third, with 5px Vertical Rhythm.
    "mobile": (
        "hero": 2.8125rem,
        "h1": 2.5rem,
        "h2": 2.1875rem,
        "h3": 1.875rem,
        "h4": 1.5625rem,
        "tiny": 1.25rem
    ),

    // Desktop scale: Major Third, with 7px Vertical Rhythm.
    "desktop": (
        "hero": 3.1111rem,
        "h1": 2.7222rem,
        "h2": 2.3334rem,
        "h3": 1.9444rem,
        "h4": 1.5556rem,
        "tiny": 1.1667rem
    )
);


// Font-family map
// -----------------------------------------------------------------------------
// Example use:
// .class {font-family: fontFamily("heading");}
// -----------------------------------------------------------------------------

$fontFamilyMap: (
    "text": ("source-sans-pro", "Helvetica Neue", sans-serif),
    "heading": ("freight-text-pro", "Times New Roman", serif)
);


// Font-weight map
// -----------------------------------------------------------------------------
// Example use:
// .class {font-weight: fontWeight("bold");}
// -----------------------------------------------------------------------------

$fontWeightMap: (
    "thin": 300,
    "normal": 400,
    "bold": 600
);


// Font Size mixin
// -----------------------------------------------------------------------------
// This is the mixin you will be using to define your font-size in all of your
// components, patterns or layouts files.
//
// Using this mixin ties the font-size to your line-height scale, for consistent
// typography throughout your project. It is also the key to automatically
// adjusting your font-size/line-height scale between mobile and desktop the
// viewport specified in _viewport-settings.scss
// -----------------------------------------------------------------------------

@mixin fontSize($value, $viewport: $desktopViewport) {
    font-size: fontSize("mobile", $value);
    line-height: lineHeight("mobile", $value);

    @include viewport($viewport) {
        font-size: fontSize("desktop", $value);
        line-height: lineHeight("desktop", $value);
    }
}


// Text Truncate
// -----------------------------------------------------------------------------
// 1. Ensure that the node has a maximum width after which truncation can occur.
// 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor nodes.
// -----------------------------------------------------------------------------

@mixin textTruncate() {
    max-width: 100%; // 1
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal; // 2
}


// Text Kerning
// -----------------------------------------------------------------------------
// 1. Chrome (not Windows), Firefox, IE 10+.
// 2. Safari 7 and future browsers.
// 3. Chrome (not Windows), Firefox, Safari 6+, iOS, Android.
// -----------------------------------------------------------------------------

@mixin textKern() {
    font-feature-settings: "kern" 1; // 1
    font-kerning: normal; // 2
    text-rendering: optimizeLegibility; // 3
}


// Font functions
// -----------------------------------------------------------------------------

@function fontSize($scale, $size: "base") {
    @return map-get(map-get($fontSizeMap, $scale), $size);
    @warn "Unknown font-size '#{$scale}' used in fontSize function.";
    @return null;
}

@function lineHeight($scale, $lineHeight: "base") {
    @return map-get(map-get($lineHeightMap, $scale), $lineHeight);
    @warn "Unknown line-height '#{$scale}' used in lineHeight function.";
    @return null;
}

@function fontFamily($fontFamily) {
    @if map-has-key($fontFamilyMap, $fontFamily) {
        @return map-get($fontFamilyMap, $fontFamily);
    }
    @warn "Unknown font-family '#{$fontFamily}' used in fontFamily function.";
    @return null;
}

@function fontWeight($fontWeight) {
    @if map-has-key($fontWeightMap, $fontWeight) {
        @return map-get($fontWeightMap, $fontWeight);
    }
    @warn "Unknown font-weight '#{$fontWeight}' used in fontWeight function.";
    @return null;
}
