// =============================================================================
// CONTROLS (Structure)
// =============================================================================
// It's recommended that you don't attempt to style checkboxes or radio buttons
// directly. Firefox's implementation doesn't respect box-sizing, padding, or
// width.
//
// 1. Address box sizing set to `content-box` in IE 8/9/10.
// 2. Remove excess padding in IE 8/9/10.
// 3. Correct color not being inherited.
//  Known issue: affects color of disabled elements.
// 4. Correct font properties not being inherited.
// 5. Address margins set differently in Firefox 4+, Safari, and Chrome.
//
// NOTE: By default, Chrome and Safari on OS X allow very limited styling of
// select, unless a `border` property is set.
// -----------------------------------------------------------------------------

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box; // 1
  padding: 0; // 2
}

select {
  appearance: none;
  background: none;
  border-radius: 0;
  color: inherit; // 3
  font: inherit; // 4
  margin: 0; // 5
  outline: none;
  padding: 0;
}
