// =============================================================================
// TYPOGRAPHY (Theme)
// =============================================================================
// NOTE: Vertical rhythm is set to 4px by default.
//       You'll note that the margins/paddings of elements here may seem odd,
//       however this is to ensure consistent vertical rhythm throughout.
// -----------------------------------------------------------------------------

$text-spacing: spacing("single");


// Document
// -----------------------------------------------------------------------------

html {
    @include textKerning;
    font-size: fontSize("root");
}

body {
    font: 1rem/#{lineHeight("base")} fontFamily("text");
}


// Text selection
// -----------------------------------------------------------------------------

::selection {
    text-shadow: none;
    color: color("basics", "white");
    background: color("primary");
}


// Links
// -----------------------------------------------------------------------------

a {
    color: color("link");
    text-decoration: underline;
    transition: color duration("fastest") ease;

    &:hover {
        color: color("link", "hover");
    }

    &:active {
        color: color("link", "active");
    }
}


// Headings
// -----------------------------------------------------------------------------
// 1. Set dimensions for maintaining vertical rhythm.
// -----------------------------------------------------------------------------

%heading {
    font-family: fontFamily("heading");
    font-weight: fontWeight("bold");
}

h1 {
    @extend %heading;
    @include fontSize("h1"); // 34px
    margin: 0 0 (spacing("single") - spacing("eighth"));
}

h2 {
    @extend %heading;
    @include fontSize("h2"); // 28px
    margin: spacing("double") 0 spacing("single");
}

h3 {
    @extend %heading;
    @include fontSize("h3"); // 23px
    margin: (spacing("double") + spacing("quarter")) 0 spacing("single");
}

h4 {
    @extend %heading;
    @include fontSize("h4"); // 19px
    margin: remCalc(31px) 0 remCalc(13px); // 1
}

h1 + h2 {
    margin-top: remCalc(14px); // 1
}

h2 + h3 {
    margin-top: spacing("single");
}

h3 + h4 {
    margin-top: remCalc(-1px); // 1
}


// Paragraphs
// -----------------------------------------------------------------------------

p {
    margin: 0 0 $text-spacing;
}


// Lists
// -----------------------------------------------------------------------------

ul,
ol,
dl {
    margin: 0 0 $text-spacing;
}

ul,
ol {
    margin-left: $text-spacing;

    ul,
    ol {
        margin-bottom: 0;
    }
}

dt {
    font-weight: fontWeight("bold");
}

dt,
dd {
    margin-bottom: spacing("half");
}


// Text elements
// -----------------------------------------------------------------------------

abbr,
acronym {
    border-bottom: 1px dotted color("divider");
    color: color("text", "secondary");
    cursor: help;
}

acronym {
    text-transform: uppercase;
}

em {
    font-style: italic;
}

small {
    @include fontSize("small");
}

strong {
    font-weight: fontWeight("bold");
}

sub,
sup {
    @include fontSize("small");
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


// Blockquote
// -----------------------------------------------------------------------------
// 1. Set dimensions for maintaining vertical rhythm.
// -----------------------------------------------------------------------------

blockquote {
    @include fontSize($fontSize: "h4", $lineHeight: "h3");
    border-left: 4px solid color("divider");
    margin: remCalc(26px) 0 remCalc(22px); // 1
    padding: remCalc(3px) (spacing("single") + spacing("quarter")) remCalc(5px); // 1

    cite {
        color: color("text", "secondary");
        display: block;
        font-size: 1rem;
        line-height: lineHeight("base");
        margin: remCalc(3px) 0 remCalc(1px); // 1
    }

    h4 + & {
        margin-top: remCalc(27px); // 1
    }

    + h2 {
        margin-top: remCalc(38px); // 1
    }

    + h3 {
        margin-top: remCalc(42px); // 1
    }

    + h4 {
        margin-top: remCalc(37px); // 1
    }
}


// Horizontal rule
// -----------------------------------------------------------------------------
// 1. Set dimensions for maintaining vertical rhythm.
// -----------------------------------------------------------------------------

hr {
    background-color: color("divider");
    border: 0;
    clear: both;
    height: 1px;
    margin: remCalc(25px) 0 remCalc(22px); // 1

    h4 + & {
        margin-top: remCalc(26px); // 1
    }

    + h2,
    + h3 {
        margin-top: 0; // 1
    }

    + h4 {
        margin-top: remCalc(-1px); // 1
    }
}
