// =============================================================================
// TYPOGRAPHY (Theme)
// =============================================================================

$text-spacing: spacing("single");


// Document
// -----------------------------------------------------------------------------

html {
    @include fontSize("root");
    @include textKern;
}

body {
    font: 1rem/#{lineHeight("global")} fontFamily("text");
}


// Text selection
// -----------------------------------------------------------------------------

::selection {
    text-shadow: none;
    color: color("basics", "white");
    background: color("primary");
}


// Links
// -----------------------------------------------------------------------------

a {
    color: color("link");
    text-decoration: underline;
    transition: color duration("fastest") ease;

    &:hover {
        color: color("link", "hover");
    }

    &:active {
        color: color("link", "active");
    }
}


// Headings
// -----------------------------------------------------------------------------

%heading {
    font-family: fontFamily("heading");
    font-weight: fontWeight("bold");
}

%subheading {
    margin-top: $text-spacing + spacing("half");
}

h1 {
    @extend %heading;
    @include fontSize("h1"); // 33.184px
}

h2 {
    @extend %heading;
    @extend %subheading;
    @include fontSize("h2");
}

h3 {
    @extend %heading;
    @extend %subheading;
    @include fontSize("h3");
}

h4 {
    @extend %heading;
    @extend %subheading;
    @include fontSize("h4");
}


// Paragraphs
// -----------------------------------------------------------------------------

p {
    margin: 0 0 $text-spacing;
}


// Lists
// -----------------------------------------------------------------------------

ul,
ol,
dl {
    margin: 0 0 $text-spacing;
}

ul,
ol {
    margin-left: $text-spacing;

    ul,
    ol {
        margin-bottom: 0;
    }
}

dt {
    font-weight: fontWeight("bold");
}

dt,
dd {
    margin-bottom: spacing("half");
}


// Blockquote
// -----------------------------------------------------------------------------

blockquote {
    @include fontSize($fontSize: "h4", $lineHeight: "h3");
    border-left: 3px solid color("divider");
    margin: 0 0 $text-spacing;
    padding: spacing("half") spacing("single");

    cite {
        color: color("text", "secondary");
        display: block;
        font-size: 1rem;
        line-height: lineHeight("global");
        margin-top: spacing("quarter");
    }
}


// Text elements
// -----------------------------------------------------------------------------

abbr,
acronym {
    border-bottom: 1px dotted color("divider");
    color: color("text", "secondary");
    cursor: help;
}

acronym {
    text-transform: uppercase;
}

em {
    font-style: italic;
}

small {
    @include fontSize("tiny");
}

strong {
    font-weight: fontWeight("bold");
}

sub,
sup {
    @include fontSize("tiny");
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


// Horizontal rule
// -----------------------------------------------------------------------------
// 1. Local variable
// -----------------------------------------------------------------------------

hr {
    $height: 1px; // 1

    background: color("divider");
    border: 0;
    clear: both;
    height: $height;
    margin: -$height 0 $text-spacing;
}
