// =============================================================================
// IMAGES (Theme)
// =============================================================================


// Figure
// -----------------------------------------------------------------------------

figure {
    margin: 0 0 spacing("single");
}

figcaption {
    color: color("text", "secondary");
    margin-top: spacing("half");
}
