// =============================================================================
// COLORS (Config)
// =============================================================================


// Brand colors
// -----------------------------------------------------------------------------

$color--primary:                #202021 !default;
$color--primaryDark:            #090909 !default;
$color--primaryLight:           #252526 !default;

$color--secondary:              #dcddde !default;
$color--secondaryDark:          #acb0b6 !default;
$color--secondaryLight:         #ecedee !default;

$color--tertiary:               #d52d17 !default;
$color--tertiaryDark:           #d52d17 !default;
$color--tertiaryLight:          #d52d17 !default;


// Base colors
// -----------------------------------------------------------------------------

$color--black:                  #000 !default;
$color--white:                  #fff !default;

$color--grey:                   #575859 !default;
$color--greyDarkest:            #090909 !default;
$color--greyDarker:             #202021 !default;
$color--greyDark:               #252526 !default;
$color--greyLight:              #dcddde !default;
$color--greyLighter:            #ecedee !default;
$color--greyLightest:           #f4f5f6 !default;


// State colors
// -----------------------------------------------------------------------------

$color--success:                #5cb85c !default;
$color--successDark:            #5cb85c !default;
$color--successLight:           #5cb85c !default;

$color--warning:                #f46e38 !default;
$color--warningDark:            #f46e38 !default;
$color--warningLight:           #f46e38 !default;

$color--alert:                  #d9534f !default;
$color--alertDark:              #d9534f !default;
$color--alertLight:             #d9534f !default;
