// =============================================================================
// LISTS (Tools)
// =============================================================================


// List mixins
// -----------------------------------------------------------------------------

@mixin listBullets($style, $important: null) {

    @if $style == "none" {
        list-style: none $important;
        margin-left: 0 $important;

        ul,
        ol {
            list-style: none $important;
            margin-bottom: 0 $important;
        }
    }

    @if $style == "disc" {
        list-style-type: disc $important;

        ul {
            list-style: inherit $important;
        }
    }

    @if $style == "circle" {
        list-style-type: circle $important;

        ul {
            list-style: inherit $important;
        }
    }

    @if $style == "square" {
        list-style-type: square $important;

        ul {
            list-style: inherit $important;
        }
    }
}
