// =============================================================================
// LISTS (Tools)
// =============================================================================

@mixin listBullets($style) {
    @if $style == "none" {
        list-style: none;
        margin-left: 0;

        ul,
        ol {
            list-style: none;
            margin-bottom: 0;
        }
    }
    @else {
        list-style-type: $style;

        ul {
            list-style: inherit;
        }
    }
}
