h1 {
  --size: font('h1', 'size');
  --thingName: #f00;
  --thingNameNameName: #00f;

  font-size: var(--size);
}

a {
  $variable: 2rem;

  font-size: rem(28px);
  fpnt-weight: bold;
  border: 1px solid #f00;
  transform: translate(1, 1);
}

.class {
  color: #00f;
}

.component {
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 2;
  font-size: 15px;
}

.component__thingName {
  color: #f00;
}

.component--modifier {
  color: #00f;
}

.component__descendant--modifier {
  font-size: 16px;
}

.component__descendant--modifier\@s {
  font-size: 16px;
}

.foo .bar .baz {
  font-size: 1rem;
}

#foo {
  font-size: 1rem;
}

.foo .bar > .baz {
  font-size: 1rem;
}

div div div div {
  font-size: 1rem;
}

* + * {
  font-weight: bold;
}


// Avatar sizes
// -----------------------------------------------------------------------------
// 1. Blah sdafhj
//
// More stuff
// -----------------------------------------------------------------------------

h2 {
  font-size: 2em;
}
