// =============================================================================
// TYPOGRAHY UTILITIES (Output)
// =============================================================================


.u-textAlignCenter {
    text-align: center !important;
}

.u-textAlignLeft {
    text-align: left !important;
}

.u-textAlignRight {
    text-align: right !important;
}

.u-textBreak {
    word-wrap: break-word !important;
}

.u-textInheritColor {
    color: inherit !important;
}

.u-textKern {
    @include textKern(!important);
}

.u-textNoWrap {
    white-space: nowrap !important;
}

.u-textTruncate {
    @include textTruncate(!important);
}
