// =============================================================================
// TABLES (Theme)
// =============================================================================


// Table
// -----------------------------------------------------------------------------

.table {
    margin-bottom: spacing("single");
    width: 100%;
}


// Table captions
// -----------------------------------------------------------------------------

.table-surtitle {
    margin-bottom: spacing("half");
}

.table-subtitle {
    margin-top: spacing("half");
}


// Table header
// -----------------------------------------------------------------------------

.table-header {

    > .table-row {
        background-color: color("greys", "light");
    }

    th {
        font-weight: fontWeight("bold");
        padding: spacing("half") spacing("single");
    }
}


// Table body
// -----------------------------------------------------------------------------

.table-body {

    > .table-row {
        transition: background-color duration("fast") timing("swiftOut");
    }

    > .table-row:nth-of-type(odd) {
        background-color: color("greys", "lighter");
    }

    > .table-row:hover {
        background-color: color("greys", "lightest");
    }

    > .table-row.is-active {
        background-color: color("greys", "light");
    }

    > .table-row + .table-row {

        th,
        td {
            border-top: 1px solid color("greys", "dark");
        }
    }

    th,
    td {
        padding: spacing("single");
        vertical-align: middle;
    }

    th {
        font-weight: fontWeight("bold");
        text-align: left;
    }

    td {
        text-align: center;
    }
}


// Table footer
// -----------------------------------------------------------------------------

// .table-footer {

//     > .table-row {

//     }

//     td {

//     }
// }


// Table modifiers
// -----------------------------------------------------------------------------

.table--small {

    .table-header {

        th {
            font-size: fontSize("smaller");
            padding: spacing("quarter") spacing("half");
        }
    }

    .table-body {

        th,
        td {
            font-size: fontSize("smaller");
            padding: spacing("half");
        }
    }
}

.table--large {

    .table-header {

        th {
            font-size: fontSize("large");
            padding: spacing("single") spacing("double");
        }
    }

    .table-body {

        th,
        td {
            font-size: fontSize("small");
            padding: spacing("double");
        }
    }
}


// Table row modifiers
// -----------------------------------------------------------------------------

.table-row--success {
    background-color: color("success", "light");
    color: color("success");
}

.table-row--warning {
    background-color: color("warning", "light");
    color: color("warning");
}

.table-row--alert {
    background-color: color("alert", "light");
    color: color("alert");
}


// Responsive table modifiers
// -----------------------------------------------------------------------------
//
// 1. Disable the linting on this line. It specifically needs to target table
//    cells (td's) with a data-title. Won't pass linting.
//
// -----------------------------------------------------------------------------

.table--responsiveList {

    @include viewport("small", "max-width") {

        > .table-header {
            @include hidden("visually");
        }

        > .table-body,
        .table-row,
        th,
        td {
            display: block;
        }

        > .table-body {

            th,
            td {
                padding: spacing("half");
            }

            // scss-lint:disable QualifyingElement // 1
            td[data-title]:before {
                // Layout
                float: left;
                // Appearance
                content: attr(data-title);
            }
            // scss-lint:enable QualifyingElement
        }

        .table-row,
        .table-row:nth-of-type(odd) {
            background-color: color("whites");
            border: solid color("greys", "dark");

            th,
            td {
                border-top: 0;
            }
        }

        .table-row:hover {
            background-color: color("whites");
        }

        .table-row + .table-row {
            margin-top: spacing("single");

            th,
            td {
                border-top: 0;
            }
        }
    }
}

.table--responsiveOverflowX {

    @include viewport("small", "max-width") {

        > .table-header {
            display: block;
            float: left;
        }

        > .table-body {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
            width: auto;

            > .table-row {
                display: inline-block;
                vertical-align: top;
            }
        }

        th,
        td {
            display: block;
        }
    }
}
