// =============================================================================
// TABLES (Structure)
// =============================================================================


// Table basics
// -----------------------------------------------------------------------------
// 1. Remove most spacing between table cells by default.
// -----------------------------------------------------------------------------

table { // 1
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td { // 1
    padding: 0;
}


// Table captions
// -----------------------------------------------------------------------------

.table-subtitle {
    caption-side: bottom;
}
