// =============================================================================
// BUTTONS (Theme)
// =============================================================================


// Button variables
// -----------------------------------------------------------------------------

$button-borderRadius: 2px;


// Button
// -----------------------------------------------------------------------------

.button {
    background-color: color("whites");
    border-radius: $button-borderRadius;
    border: 1px solid material("grey", 300);
    color: material("grey", 700);
    font-family: fontFamily("text");
    font-size: fontSize("base");
    line-height: fontSize("base");
    padding: spacing("half");
    transition: background-color duration("faster") timing("swiftOut");

    &:hover,
    &:focus {
        background-color: material("blue", 700);
    }

    &:active,
    &.is-active {
        background-color: material("blue", 900);
    }
}


// Button types
// -----------------------------------------------------------------------------

.button--primary {
    background-color: material("grey", 900);
    border-color: material("grey", 900);
    color: color("whites");

    &:hover,
    &:focus {
        background-color: material("blue", 500);
        border-color: material("blue", 500);
        color: material("blue", 500);
    }

    &:active,
    &.is-active {
        background-color: material("blue", 500);
        border-color: material("blue", 500);
        color: material("blue", 500);
    }
}

.button[disabled] {
    background-color: material("grey", 400);
    border-color: material("grey", 400);
    color: material("grey", 50);
}


// Button sizes
// -----------------------------------------------------------------------------

.button--large,
%button--large {
    font-size: fontSize("small");
    padding: spacing("half") spacing("single");
}

.button--small,
%button--small {
    font-size: fontSize("smaller");
    padding: spacing("quarter") spacing("half");
}


// Button that stretches 100% width of its container
// -----------------------------------------------------------------------------

.button--stretch {
    display: block;
    width: 100%;
}


// Button groups
// -----------------------------------------------------------------------------

.buttonGroup {

    &:first-child {
        border-top-left-radius: $button-borderRadius;
        border-bottom-left-radius: $button-borderRadius;
    }

    &:last-child {
        border-top-right-radius: $button-borderRadius;
        border-bottom-right-radius: $button-borderRadius;
    }

    .button {
        border-left-width: 0;
        border-radius: 0;
    }
}

.buttonGroup--large {

    > .button {
        @extend %button--large;
    }
}

.buttonGroup--small {

    > .button {
        @extend %button--small;
    }
}


// Button toolbars
// -----------------------------------------------------------------------------

.buttonToolbar {

    > .buttonGroup + .buttonGroup {
        margin-left: spacing("half");
    }
}
