// =============================================================================
// LIST (Config)
// =============================================================================


$list--style:                       none;
$list--margin:                      0;
$list--padding:                     0;
