// =============================================================================
// TYPOGRAPHY (Config)
// =============================================================================


// Font families
// -----------------------------------------------------------------------------
//
// Example use:
//
// .class {
//     font-family: fontFamily("heading");
// }
//
// -----------------------------------------------------------------------------

$fontFamily--heading:           "freight-text-pro", "Times New Roman", serif;
$fontFamily--text:              "source-sans-pro", "Helvetica Neue", sans-serif;
$fontFamily--hero:              "brandon-grotesque";
$fontFamily--numeric:           "brandon-grotesque";
$fontFamily--code:              "inconsolata", Monaco, monospace;


// Font weights
// -----------------------------------------------------------------------------
//
// Example use:
//
// .class {
//     font-weight: fontWeight("bold");
// }
//
// -----------------------------------------------------------------------------

$fontWeight--thin:              300;
$fontWeight--normal:            400;
$fontWeight--semibold:          500;
$fontWeight--bold:              700;
$fontWeight--black:             900;


// Root font sizes
// -----------------------------------------------------------------------------
//
// Set up your pixel units for base copy. These values are what your rem font
// scale will be calculated on.
//
// Default viewport reference:
// 1) 0px    to 1024px          -
// 2) 1025px to 1280px          $viewport--small
// 3) 1281px to 1680px          $viewport--large
// 4) 1681px to -               $viewport--largest
//
// -----------------------------------------------------------------------------

$fontSize--root:                12px; // 1
$fontSize--rootSmall:           14px; // 2
$fontSize--rootMedium:          16px; // 3
$fontSize--rootLarge:           18px; // 4


// Font size scale
// -----------------------------------------------------------------------------
//
// This is your 8-point font-size scale. They should all be in rem units, or use
// the remCalc function to convert them, eg. remCalc(18px);
//
// Tip: When calculating your font-size scale in pixels, interpret them based on
// $fontSize--root. The others will follow the same scale naturally.
//
// -----------------------------------------------------------------------------

$fontSize--hero:                2.5rem;
$fontSize--largest:             42px;
$fontSize--larger:              28px;
$fontSize--large:               22px;
$fontSize--small:               16px;
$fontSize--smaller:             14px;
$fontSize--smallest:            12px;
$fontSize--tiny:                11px;


// Line height
// -----------------------------------------------------------------------------

$lineHeight--base:              1.5;
// $lineHeight--base:              1.61803398875;
