// =============================================================================
// ICONS (Theme)
// =============================================================================

$iconSize: remCalc(24px);
$iconSize-small: 1rem;
$iconSize-large: 2rem;


// Icon
// -----------------------------------------------------------------------------

.icon {
    height: $iconSize;
    width: $iconSize;
}


// Icon sizes
// -----------------------------------------------------------------------------

.icon--small {
    height: $iconSize-small;
    width: $iconSize-small;
}

.icon--large {
    height: $iconSize-large;
    width: $iconSize-large;
}


// Icon colors
// -----------------------------------------------------------------------------

.icon--primary {
    fill: color("primary");
}

.icon--success {
    fill: color("success");
}

.icon--error {
    fill: color("error");
}

.icon--warning {
    fill: color("warning");
}


// Icon inside a button
// -----------------------------------------------------------------------------
// This styling is specific to icons that appear inside the button component.
// NOTE: Don't mix these styles with any other part of the icon styling.
// -----------------------------------------------------------------------------

.button > .icon {
    height: $iconSize;
    margin: (-(spacing("eighth"))) remCalc(-6px);
    position: relative;
    top: remCalc(-1px);
    vertical-align: top;
    width: $iconSize;
}

.button--small > .icon {
    height: $iconSize-small;
    margin: 0 (-(spacing("quarter")));
    padding: spacing("eighth");
    top: 0;
    width: $iconSize-small;
}

.button--large > .icon {
    height: $iconSize-large;
    margin: remCalc(-7px) (-(spacing("half"))) remCalc(-5px);
    position: relative;
    top: 0;
    width: $iconSize-large;
}


// Icon inside a chip
// -----------------------------------------------------------------------------
// This styling is specific to icons that appear inside the chips component.
// NOTE: Don't mix these styles with any other part of the icon styling.
// -----------------------------------------------------------------------------

.chip > .icon {
    margin: spacing("eighth") (-(spacing("quarter"))) 0 spacing("eighth");
    vertical-align: top;
}
