// =============================================================================
// COMPONENTS CONFIG
// =============================================================================


$output--buttons: true !default;
$output--tables: true !default;
$output--images: true !default;
$output--text: true !default;
