// =============================================================================
// DOCUMENTATION
// =============================================================================


// Import the Water toolkit for use
// -----------------------------------------------------------------------------

@import "toolkit/toolkit";


// Documentation CSS
// -----------------------------------------------------------------------------

html {
    @include fontSize("root");
}

body {
    background-color: color("primary");
    font: 1rem/#{lineHeight("global")} fontFamily("text");
    margin: spacing("double") spacing("double") 0 remCalc(300px);
}


.example {
    background: #fff;
    border: 1px solid material("grey", 200);
    padding: spacing("single");

    + pre[class*="language-"] {
        margin-top: -1px;
    }
}


// Code block
// -----------------------------------------------------------------------------

pre[class*="language-"] {
    background: #fff;
    border: 1px solid material("grey", 200);
    margin: 0 0 spacing("single");
    overflow: auto;
    padding: spacing("single");
}

code[class*="language-"],
pre[class*="language-"] {
    color: material("grey", 500);
    direction: ltr;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    hyphens: none;
    line-height: lineHeight("global");
    tab-size: 4;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}


// Code colors
// -----------------------------------------------------------------------------

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: material("grey", 400);
}

.token.punctuation,
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: material("grey", 700);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: material("grey", 500);
}

.token.atrule,
.token.attr-value,
.token.function {
    color: material("grey", 900);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: material("grey", 500);
}

.namespace {
    opacity: 0.7;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #fd971f;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}


// Line numbers
// -----------------------------------------------------------------------------

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre.line-numbers > code {
    position: relative;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; // works for line-numbers below 1000 lines
    letter-spacing: -1px;
    border-right: 1px solid #999;
    user-select: none;

}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}
