// =============================================================================
// GRID (Tools)
// =============================================================================


// Grid row
// -----------------------------------------------------------------------------
// 1) To remove the gutter or wrapping, set the argument to null.
// -----------------------------------------------------------------------------

@mixin grid-container(
    $type: "flexbox",
    $gutter: spacing("half"),
    $wrap: "wrap") {

    @if $type == "flexbox" {
        display: flex;

        @if $wrap != null { // 1
            flex-wrap: $wrap;
        }
    }

    @if $gutter != null { // 1
        margin-right: -($gutter);
        margin-left: -($gutter);
    }
}


// Grid column
// -----------------------------------------------------------------------------
// 1) To remove the gutter, set the argument to null.
// -----------------------------------------------------------------------------

@mixin grid-column(
    $type: "flexbox",
    $gutter: spacing("half"),
    $column: null) {

    @if $type == "flexbox" {
        @if $column != null {
            flex: 0 0 grid("#{$column}");
        } @else {
            flex: 1;
        }
    }

    @if $gutter != null { // 1
        padding-right: $gutter;
        padding-left: $gutter;
    }
}
