// =============================================================================
// VIEWPORT (Config)
// =============================================================================
//
// Set your viewport widths for responsive design.
//
// -----------------------------------------------------------------------------

$viewport--largest:             1681px;
$viewport--larger:              1441px;
$viewport--large:               1281px;
$viewport--small:               1025px;
$viewport--smaller:             769px;
$viewport--smallest:            481px;
