// =============================================================================
// VIEWPORT (Tools)
// =============================================================================
//
// Use the viewport mixin within your selectors to add responsive code directly
// to the selector you're working on.
//
// -----------------------------------------------------------------------------


// Viewport map
// -----------------------------------------------------------------------------

$viewportMap: (
    largest:                    $viewport--largest,
    larger:                     $viewport--larger,
    large:                      $viewport--large,
    small:                      $viewport--small,
    smaller:                    $viewport--smaller,
    smallest:                   $viewport--smallest
);


// Viewport function
// -----------------------------------------------------------------------------

@function viewport($size) {
    @if map-has-key($viewportMap, $size) {
        @return map-get($viewportMap, $size);
    }

    @warn "Unknown viewport `#{$size}` in $viewportMap.";
    @return null;
}


// Viewport mixin
// -----------------------------------------------------------------------------
//
// 1. Media queries are typically min-width, scaling up with mobile first.
//    When there is a need for a max-width media query, the viewport size must
//    be reduced by 1px to ensure the correct viewport is targeted.
//
//    For example: (max-width: 1024px) opposed to (max-width: 1025px)
//
// -----------------------------------------------------------------------------

@mixin viewport($size, $maxWidth: null) {
    @if $maxWidth == "max-width" {
        @media (max-width: (viewport($size) - 1px)) { // 1
            @content;
        }
    }
    @else {
        @media (min-width: viewport($size)) {
            @content;
        }
    }
}
