// =============================================================================
// ANIMATIONS (Tools)
// =============================================================================


// Duration map
// -----------------------------------------------------------------------------

$animation--speedMap: (
    fastest:                    $animationSpeed--fastest,
    faster:                     $animationSpeed--faster,
    fast:                       $animationSpeed--fast,
    slow:                       $animationSpeed--slow,
    slower:                     $animationSpeed--slower,
    slowest:                    $animationSpeed--slowest
);


// Timing function map
// -----------------------------------------------------------------------------

$animation--timingFunctionMap: (
    swiftOut:                   $animation--swiftOut,
    ease:                       $animation--ease

    // SQUARESPACE - ease,cubic-bezier(0.33, 0, 0.2, 1);
);


// Duration function
// -----------------------------------------------------------------------------

@function duration($key) {

    @if map-has-key($animation--speedMap, $key) {
        @return map-get($animation--speedMap, $key);
    }

    @warn "Unknown duration '#{$key}' in $animation--speedMap.";
    @return null;
}


// Delay function
// -----------------------------------------------------------------------------

@function delay($animation, $value) {

    @if map-has-key($animation--speedMap, $animation) {
        @return map-get(map-get($animation--speedMap, $animation), $value);
    }

    @warn "Unknown delay '#{$animation}' in $animation--speedMap.";
    @return null;
}

// Timing function function
// -----------------------------------------------------------------------------

@function timing($timingFunction) {

    @if map-has-key($animation--timingFunctionMap, $timingFunction) {
        @return map-get($animation--timingFunctionMap, $timingFunction);
    }

    @warn "Unknown timing function '#{$animation}' in $animation--timingFunctionMap.";
    @return null;
}
