// =============================================================================
// LAYOUT
// =============================================================================
// The scaffolding for your website/app.
// This file should be kept very lean, as if you were sketching out the
// wireframe for the global sections of your design; eg. header/body/footer.
// All descendant content should be made up of components and constructs.
//
// 1. Add in HTML5 element support for older browsers.
// 2. Add the border-box global * support for all elements.
// -----------------------------------------------------------------------------

@include html5-elements-display(); // 1
@include border-box(); // 2

body {
  background-color: #fff;
  border: none;
  margin: 0;
}


// Layout zones
// -----------------------------------------------------------------------------

.header {
  background-color: color('primary');
  width: 100%;
}

.body {
  width: 100%;
}

.footer {
  border-top: 1px solid color('divider');
  width: 100%;
}


// Container class
// -----------------------------------------------------------------------------

.container {
  margin: 0 auto;
  max-width: remCalc(1280px);
  width: 80%;
}
