// =============================================================================
// LAYOUT
// =============================================================================
// 1. Set the global box-sizing to border-box cross-browser.
// 2. Remove default margin.
// 3. Correct `block` display not defined for:
//    - any HTML5 element in IE 8/9.
//    - `details` or `summary` in IE 10/11 and Firefox.
//    - `main` in IE 11.
// 4. Address `[hidden]` styling not present in IE 8/9/10.
//    Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
// 5. Correct `inline-block` display not defined in IE 8/9.
// -----------------------------------------------------------------------------

*,
*:before,
*:after {
    box-sizing: border-box; // 1
}

body {
    margin: 0; // 2
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block; // 3
}

[hidden],
template {
    display: none; // 4
}

canvas,
video {
    display: inline-block; // 5
}
