// =============================================================================
// LAYOUT (Theme)
// =============================================================================

.header {
    width: 100%;
}

.body {
    max-width: remCalc(1280px);
    width: 80%;
}

.footer {
    width: 100%;
}
